/*   
Theme Name: GYM - Sport Fitness Theme
Theme URI: http://www.coralixthemes.com/wp/gym/
Description: GYM is a premium theme designed mainly for fitness and gym website. It can also be used for any other type of website, especially for sports, spa, events etc. GXM is a WordPress Responsive Template for Gym, Fitness Center or Health Club. This Template is clean and well organized.
It has Hover Effects and Unique Banners. It is a fully HTML 5 Valid theme, it comes with many features and has several home page options.
Author: <a href="http://www.coralixthemes.com">CoralixThemes</a>
Author URI: http:/www.coralixthemes.com
Version: 1.0
License: Comercial
License URI: http://www.coralixthemes/wp/gym/license/
Tags: flexible-width, theme-options, translation-ready
Text Domain: gym
*/

/* Table of Content
==================================================
	#Import url
	#Typography
	#Basic Styles
	#Specific Styles
	#Menu Styles
	#Home Styles
	#Contact

	#Mobile Styles
*/

.wp-caption {}
.wp-caption-text{}
.sticky {}
.gallery-caption {}
.bypostauthor { font-family: 'Lato',sans-serif;}
.alignleft {
}
.alignright {}
.aligncenter {}


body {
	color: #4c4f55;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	padding: 0;
}


