#of-recommend-addons{
	max-width: 1000px;
}

#of-recommend-addons .addons-list li{
	position: relative;
	width: 240px;
	height: 330px;
	float: left;
	background: #fff;
	border: 1px solid #dedede;
	-webkit-border-radius:3px; 
	-moz-border-radius:3px; 
	border-radius:3px;
	webkit-box-shadow:0px 1px 2px #f7f7f7;  
	-moz-box-shadow:0px 1px 2px #f7f7f7;  
	box-shadow:0px 1px 2px #f7f7f7;
	padding: 20px;
	margin: 15px;
}

#of-recommend-addons .addon-logo{
	text-align: center;
}

#of-recommend-addons .addon-desc h3{
	font-size: 20px;
	color: #111;
	text-transform: uppercase;
	text-align: center;
	line-height: 28px;
}

#of-recommend-addons .addon-desc p{
	line-height: 1.6em;
}

#of-recommend-addons .addon-cta{
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 240px;
}

#of-recommend-addons .focus{
	background-color:#fef9c7;
	font-weight: bold;
}

#of-recommend-addons .button-hero{
	width: 100%;
	text-align: center;
}

/* fix the tweet old posts - prefix your shit*/
.wrap h2{ margin-top: 0px !important; }