/*-------------------------------------------------------------------------------------------*/
/* OptionsFramework Admin Styles */
/*-------------------------------------------------------------------------------------------*/

.icon-option{
	float: left;
	width: 24px;
	height: 28px;
	font-size: 18px; 
	margin: 3px 5px;
	
}
.icon-option i{
	float:left;
	margin-top: 9px;
	margin-left: 3px;
	
}

/******************************************
    SLIDESHOW ICON COMPONENT    
******************************************/
/*.icon-size, .icon-size .explain{
    width: 200px;
    border: 1px solid #000;
}
.icon-color{
    width: 200px;
    border: 1px solid #000;
}  */
.updated {
	width:770px;
}
.out-slide{
    width: 500px;
    overflow: hidden;
    height: 75px;
    padding: 1px;
    float: left;
}
.slide-content{
    height: 21px;
    width: 10700px;
    float: left;
}
.icon-cloude{
    width:25px;
    height:25px;
    padding:3px;    
    float: left;
    font-size: 16px; 
    text-align: center;
    border:3px solid rgb(250,250,250);
}
.icon-selected {
    border:3px solid #ccc;      
}
.sel-icon{
    margin: 10px 20px;    
    text-align: center;
    width:35px;
    height:35px;
    font-size: 30px;   
    float: left;
    border: 1px solid #000;
    border-radius: 2px;
}
/**NAV BUTTON***/


.slide-left{    
    margin-right: 5px;
    margin-top: 30px;
    border-bottom: 9px solid transparent;
    border-right: 11px solid #ccc;
    border-top: 9px solid transparent;
    border-radius: 2px;
    float: left;
    cursor: pointer;	    
}
.slide-right{
    margin-left: 5px;
    margin-top: 30px;
    border-bottom: 9px solid transparent;
    border-left: 11px solid #ccc;
    border-top: 9px solid transparent;
    border-radius: 2px;
    float: left;
	cursor: pointer;
}
.slide-left-top{
    border-bottom: 9px solid transparent;
    border-right: 11px solid #fd611d;
    border-top: 9px solid transparent;
}
.slide-right-top{
    border-bottom: 9px solid transparent;
    border-left: 11px solid #fd611d;
    border-top: 9px solid transparent;
}
/******************************************/

#of_container {
	margin: 10px 0;
	width: 850px;/*875*/
	position:relative;
	z-index: 0
}
#of_container #header {
	height: 60px;
    width: 878px;
	background-color:#dfdfdf;
	border: 1px solid #ccc;
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
}
#of_container #header .logo {
	float: left;
	margin:5px 20px;
}
#of_container #header .panelinfo{
    float: right;
    margin: 10px 5px;
    font-size: 11px;
    text-align: right;
}
#of_container #header .panelinfo div{
    margin: 2px 0px;
}
#of_container #header div.panelinfo .details{
    padding: 1px 4px;    
    color: #fff;
    border-radius: 3px 3px 3px 3px;
}
#of_container #header div.panelinfo .orange{
    background: none repeat scroll 0% 0% #7ae116;
}
#of_container #content .section .add_button,#of_container #content .section .delete_button{
    /*border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0% 0% #7ae116;*/
    width: auto;    
    padding: 0px 7px;
}
#of_container #content .section .add_button a{
    text-decoration: none;
}
#of_container #header div.panelinfo .gray{
    background: none repeat scroll 0% 0% #000;
}
#of_container #header .logo h2 {
	font-style:normal;
	font-size: 22px;
	line-height: 26px;
}
#of_container #main {
	background-color: #f1f1f1;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
    width: 878px;
}
#of_container #of-nav {
	float: left;
	position: relative;
	z-index: 9999;
	width: 200px;
	
}
#of_container #of-nav li {
	margin-bottom:0
}
#of_container #of-nav ul li a:link, #of-nav ul li a:visited {
	display: block;
	padding: 10px 10px 10px 15px;
	font-family: Georgia, Serif;
	font-size: 13px;
	text-decoration: none;
	color: #797979;
	border-bottom: 1px solid #d8d8d8;
}
#of_container #of-nav ul li.current a, #of-nav ul li a:hover {
    color: #ea0a00;
	background-color: #fff;
}
#of_container #main #of-nav ul li div.header-options{
    float: left;
    margin: 7px 5px 0px 5px;
    width: 24px;
    height: 30px;   
    background: url("../images/icon-blog-gry.png") no-repeat;
    background-position: -90px -114px;
}
#of_container #main #of-nav ul li.current div.header-options{
    float: left;
    margin: 7px 5px 0px 5px;
    width: 24px;
    height: 30px;   
    background: url("../images/icon-blog.png") no-repeat;
    background-position: -90px -114px;
}
#of_container #content {
	float: left;
	min-height: 700px;
	width: 650px;/*595px;*/
	margin-left: -1px;
	padding: 10px 14px 0px 14px;
	background-color: #fff;
	border-left: 1px solid #d8d8d8;
}
#of_container #content .section {
    margin-bottom: 10px;
    margin-top: 15px;
}
#of_container #content .section h3.heading {
	margin: 10px 0 10px 0;
	padding: 7px 0px;
	border-bottom: 1px solid #e7e7e7;
}
#of_container #content .section h5.heading {
	margin: 10px 0 10px 0;
	padding: 3px 0px;
	border-bottom: 1px solid #e7e7e7;
}
#of_container #content .section .controls {
	float: left;
	width: auto;
	margin: 0 20px 0 0;
    padding: 0;
}
#of_container #content .section .explain {
	/*float: left;*/
	/*width: 180px;*/
	padding: 0 10px 0 0;
	font-size: 11px;
	color: #999999;
}

#of_container #content .section-checkbox .controls {
	width:25px
}
#of_container #content .section-checkbox .explain {
	width:540px
}
#of_container #content .section-color .controls {
	width:125px
}
#of_container #content .section-color .explain {
	width:440px
}
#of_container #content .section-sliders .full-controls{
	width: 110px;
}
#of_container #content .section-sliders .full-explain{
	width: 450px;
}
#of_container textarea, #of_container input, #of_container select {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	border-style:solid;
	border-width:1px;
}
#of_container .controls input, #of_container .controls select, #of_container .controls textarea {
	margin-bottom: -1px;
	background-color: #f1f1f1;
	border: 1px solid;
	border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
	width: 340px;
	padding: 4px;
	font-size: 12px;
}
#of_container .controls input {
	margin-bottom: 10px !important;
}
#of_container .controls select {
	padding: 0 0 0 4px;
	width: 340px
}
#of_container .controls textarea {
	width: 345px;
}
#of_container input[type=text] {
	width: 340px;
}
#of_container input.checkbox {
	width: 30px;
}
#of_container input.of-radio {
	width: 30px;
	margin-top: 8px;
}
#of_container .controls .of-color {
	float:left;
	width: 80px;
	margin-left:5px;
}

#of_container #content .section-typography .controls,
#of_container #content .section-link .controls,
#of_container #content .section-border .controls,
#of_container #content .section-shadow .controls{
	position: relative;
	width:460px;
}

/* typography */

#of_container .controls .of-typography-size {
	width:100px;
	float:left
}
#of_container .controls .of-typography-face {
	width:225px;
	float:left
}
#of_container .controls .of-typography-style {
	width:120px;
	float:left
}
#of_container .controls .font_selector{
	height:28px;
	position:absolute;
	left:100px;
	top:0px;
	width:120px;
	z-index:70;
}

/* Links */

#of_container .controls .of-link-text-decoration{
	float: left;
	width: 344px;
}
/* Borders */

#of_container .controls .of-border-style,
#of_container .controls .of-border-size{
	float: left;
	width: 170px;
}

/* Shadow */

#of_container .controls .of-shadow-display,
#of_container .controls .of-shadow-size{
	float: left;
	width: 113px;
}

#of_container #content .section-background .controls {
	position: relative;
	width: 515px
}
#of_container #content .section-background .explain {
	width:140px
}
#of_container .of-background-properties {
	margin-top: 5px;
}
#of_container .controls .of-background-repeat,
#of_container .controls .of-background-position,
#of_container .controls .of-background-attachment {
	width:165px;
	float:left;
	margin-right:4px;
}
#of_container div.section-background .controls input.upload {
    width: 240px;
}

/* radio images */
#of_container .controls .mini_img {
    width: 30px;
    height: 30px;
}
#of_container .controls .of-radio-img-img {
	border:3px solid #fff;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#of_container .controls .standar {
    width: 30px;
    height: 30px;
}
#of_container .controls .of-radio-img-selected {
	border:3px solid #ccc
}
#of_container .controls .of-radio-img-img:hover {
	opacity:.8;
}
#of_container .group {
	padding-bottom:20px
}
#of_container .group h2 {
	display:none;
	border-bottom:3px solid #e7e7e7
}
#of_container .controls input:focus, #of_container select:focus, #of_container textarea:focus {
	background:#fff;
}
#of_container .hide {
	display:none;
}
#of_container .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#of_container .mini .controls select, #of_container #content .section .mini .controls {
	width: 70px;
}
#of_container .medium .controls select, #of_container #content .section .medium .controls {
    min-width:200px;
    width: 200px;
}
#of_container .medium .controls input, #of_container #content .medium .controls {
    min-width:200px;
    width: 200px;
}
#of_container .mini .controls input, #of_container #content .mini .controls {
	width: 70px;
}
#of_container #content .mini .explain {
	padding-top: 5px;
	width:350px;
}

/* Image Uploader */

#of_container .controls input.upload {
	width:280px;
	padding-bottom:6px;
}
#of_container .controls input.sidebar {
	width:225px;
	padding-bottom:6px;
}
#of_container .controls input.img_plus_button,
#of_container .controls input.button_button,
#of_container .controls input.sidebar_button,
#of_container .controls input.pattern_upload_button{
	float:right;
	border-color:#bbbbbb;
	cursor:pointer;
	height:30px;
}
#of_container .controls input.upload_button {
	border-color:#bbbbbb;
	cursor:pointer;
	height:30px;
}
#of_container .controls input.upload_button {
    margin-left: 4px;
}
#of_container .controls input.button_button,
#of_container .controls input.img_plus_button{
    float:left;
    margin-left: 30px;
}
#of_container .controls input.upload_button{ width:53px; }
#of_container .controls input.img_plus_button{ width:150px; }
#of_container .controls input.button_button{ width:150px; }
#of_container .controls input.sidebar_button{ width:100px; }
#of_container .controls input.pattern_upload_button{ width: 70px; }
#of_container .controls input.img_plus_button:hover,
#of_container .controls input.button_button:hover,
#of_container .controls input.sidebar_button:hover,
#of_container .controls input.upload_button:hover, 
#of_container .controls input.pattern_upload_button:hover{
	border-color:#666666;
	color:#000;
}
#of_container .controls input.pattern_upload_button{
	width: 70px;
	margin-right: 10px;
}
#of_container .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	margin-top:3px;
}
#of_container .section-background .screenshot {
	margin-bottom:18px;	
}
#of_container .screenshot img {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-border-radius:4px;
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
}
#of_container .screenshot .mlu_remove {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:-4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#of_container .screenshot .no_image .file_link {
	margin-left: 20px;
}
#of_container .screenshot .no_image .mlu_remove {
	bottom: 0px;
}
#of_container .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#of_container .button-primary {
	float:right;
}
#of_container .of_admin_bar {
	background: #f3f3f3;
	border:solid #ccc;
	border-width:0px 1px 1px 1px;
	padding: 10px 20px 0px 20px;
	height: 35px;
	text-align: right;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
    width: 838px;
}


/* Custom toogle */

#of_container .custom-toggle{
	margin-top: 15px;    
	padding: 7px;
	height: 16px;	
	border:1px solid #e6e6e6;
	background-color: #f3f3f3;
	text-shadow:0 1px 0 #fff;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	word-wrap:break-word;
}

#of_container .custom-toggle h4{
	margin: 0;
	display: inline;
}

#of_container .inner-toggle{
	margin-top: -3px;
	position: relative;
	display: none;
	margin-bottom: 10px;
	background-color: #fafafa;
	padding: 10px 10px 10px 10px;
	border:1px solid #e6e6e6;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	margin-bottom: 10px;
}

#of_container .inner-toggle .inner-toggle{
	background-color: #f6f6f6;
}

/* Item buttons */

#of_container .item-buttons{
	width: 40px;
	float: right;
}

#of_container a.item-display{
	width: 15px;
	height: 15px;
	float: right;
	border-left: 1px solid #e6e6e6;
	background:url("../images/arrow.png") no-repeat;
}

#of_container a.item-delete{
	height: 16px;
	width: 16px;
	float: left;
	background:url("../images/ico-delete.png") no-repeat;
}

#of_container .add_slide{
	margin-top: 15px;
}

#of_container #sidebars-list{
	margin-top: 10px;
}

#of_container .slide-list li .custom-toggle{
	cursor: move;
}

#of_container #sidebars-list li{
	position: relative;
}

#of_container #sidebars-list .item-buttons{
	position: absolute;
	right: 10px;
	top: 5px;
}

#of_container #sidebars-list  a.item-delete{
	float: right;
}

/* paterns */

#of_container .patterns{
	height:320px;
	overflow:auto;
	position:absolute;
	top:26px;
	left: 115px;
	width:239px;
	z-index:80;
	background-color: #fff;
	-moz-box-shadow: 3px 3px 3px #aaa;
	-webkit-box-shadow: 3px 3px 3px #aaa;
	box-shadow: 3px 3px 3px #aaa;
}

#of_container .pattern{
	font-size:0;
	display:block;
	height:40px;
	position:relative;
	width:224px;
	z-index:81;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
	cursor: pointer;
}

#of_container .pattern:hover{
	opacity: 1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	cursor: pointer;
}

/* fix the tweet old posts - prefix your shit*/
.wrap h2{ margin-top: 0px !important; }

/* documentation */
.docu-container{ padding-left: 20px; }
.docu-container p{ line-height: 1.7em; }
.docu-container ul {list-style-type:disc;}
.docu-container ol {list-style-type:decimal;}
.docu-container ol.alpha {list-style:upper-alpha;}
.docu-container ol.alpha li{ margin-top: 10px; }
.docu-container hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
.docu-container img{ max-width: 100%; height: auto; }
.docu-container .premium{ padding: 10px; background-color: #fef9c7; margin-bottom: 30px; }
.docu-container .premium p:last-child{ margin-bottom: 0; }

/*patterns */
.pattern1,
.pattern2,
.pattern3,
.pattern4,
.pattern5,
.pattern6,
.pattern7,
.pattern8,
.pattern9,
.pattern10,
.pattern11,
.pattern12,
.pattern13,
.pattern14,
.pattern15,
.pattern16,
.pattern17,
.pattern18,
.pattern19,
.pattern20,
.pattern21,
.pattern22,
.pattern23,
.pattern24,
.pattern25,
.pattern26,
.pattern27,
.pattern28,
.pattern29,
.pattern30,
.pattern31,
.pattern32,
.pattern33,
.pattern34,
.pattern35,
.pattern36,
.pattern37,
.pattern38,
.pattern39,
.pattern40,
.pattern41,
.pattern42,
.pattern43,
.pattern44,
.pattern45,
.pattern46,
.pattern47,
.pattern48,
.pattern49,
.pattern50,
.pattern51,
.pattern52,
.pattern53,
.pattern54,
.pattern55,
.pattern56,
.pattern57,
.pattern58,
.pattern59,
.pattern60,
.pattern61,
.pattern62,
.pattern63,
.pattern64,
.pattern65,
.pattern66,
.pattern67,
.pattern68,
.pattern69,
.pattern70,
.pattern71,
.pattern72,
.pattern73,
.pattern74,
.pattern75,
.pattern76,
.pattern77,
.pattern78,
.pattern79,
.pattern80,
.pattern81,
.pattern82,
.pattern83,
.pattern84,
.pattern85,
.pattern86,
.pattern87,
.pattern88,
.pattern89,
.pattern90,
.pattern91,
.pattern92,
.pattern93,
.pattern94,
.pattern95,
.pattern96,
.pattern97,
.pattern98,
.pattern99,
.pattern100,
.pattern101,
.pattern102,
.pattern103,
.pattern104,
.pattern105,
.pattern106,
.pattern107,
.pattern108,
.pattern109,
.pattern110{background:url(../images/patterns.png) 0 0 no-repeat scroll;}

.pattern1{background-position:0 -0px;}
.pattern2{background-position:0 -40px;}
.pattern3{background-position:0 -80px;}
.pattern4{background-position:0 -120px;}
.pattern5{background-position:0 -160px;}
.pattern6{background-position:0 -200px;}
.pattern7{background-position:0 -240px;}
.pattern8{background-position:0 -280px;}
.pattern9{background-position:0 -320px;}
.pattern10{background-position:0 -360px;}
.pattern11{background-position:0 -400px;}
.pattern12{background-position:0 -440px;}
.pattern13{background-position:0 -480px;}
.pattern14{background-position:0 -520px;}
.pattern15{background-position:0 -560px;}
.pattern16{background-position:0 -600px;}
.pattern17{background-position:0 -640px;}
.pattern18{background-position:0 -680px;}
.pattern19{background-position:0 -720px;}
.pattern20{background-position:0 -760px;}
.pattern21{background-position:0 -800px;}
.pattern22{background-position:0 -840px;}
.pattern23{background-position:0 -880px;}
.pattern24{background-position:0 -920px;}
.pattern25{background-position:0 -960px;}
.pattern26{background-position:0 -1000px;}
.pattern27{background-position:0 -1040px;}
.pattern28{background-position:0 -1080px;}
.pattern29{background-position:0 -1120px;}
.pattern30{background-position:0 -1160px;}
.pattern31{background-position:0 -1200px;}
.pattern32{background-position:0 -1240px;}
.pattern33{background-position:0 -1280px;}
.pattern34{background-position:0 -1320px;}
.pattern35{background-position:0 -1360px;}
.pattern36{background-position:0 -1400px;}
.pattern37{background-position:0 -1440px;}
.pattern38{background-position:0 -1480px;}
.pattern39{background-position:0 -1520px;}
.pattern40{background-position:0 -1560px;}
.pattern41{background-position:0 -1600px;}
.pattern42{background-position:0 -1640px;}
.pattern43{background-position:0 -1680px;}
.pattern44{background-position:0 -1720px;}
.pattern45{background-position:0 -1760px;}
.pattern46{background-position:0 -1800px;}
.pattern47{background-position:0 -1840px;}
.pattern48{background-position:0 -1880px;}
.pattern49{background-position:0 -1920px;}
.pattern50{background-position:0 -1960px;}
.pattern51{background-position:0 -2000px;}
.pattern52{background-position:0 -2040px;}
.pattern53{background-position:0 -2080px;}
.pattern54{background-position:0 -2120px;}
.pattern55{background-position:0 -2160px;}
.pattern56{background-position:0 -2200px;}
.pattern57{background-position:0 -2240px;}
.pattern58{background-position:0 -2280px;}
.pattern59{background-position:0 -2320px;}
.pattern60{background-position:0 -2360px;}
.pattern61{background-position:0 -2400px;}
.pattern62{background-position:0 -2440px;}
.pattern63{background-position:0 -2480px;}
.pattern64{background-position:0 -2520px;}
.pattern65{background-position:0 -2560px;}
.pattern66{background-position:0 -2600px;}
.pattern67{background-position:0 -2640px;}
.pattern68{background-position:0 -2680px;}
.pattern69{background-position:0 -2720px;}
.pattern70{background-position:0 -2760px;}
.pattern71{background-position:0 -2800px;}
.pattern72{background-position:0 -2840px;}
.pattern73{background-position:0 -2880px;}
.pattern74{background-position:0 -2920px;}
.pattern75{background-position:0 -2960px;}
.pattern76{background-position:0 -3000px;}
.pattern77{background-position:0 -3040px;}
.pattern78{background-position:0 -3080px;}
.pattern79{background-position:0 -3120px;}
.pattern80{background-position:0 -3160px;}
.pattern81{background-position:0 -3200px;}
.pattern82{background-position:0 -3240px;}
.pattern83{background-position:0 -3280px;}
.pattern84{background-position:0 -3320px;}
.pattern85{background-position:0 -3360px;}
.pattern86{background-position:0 -3400px;}
.pattern87{background-position:0 -3440px;}
.pattern88{background-position:0 -3480px;}
.pattern89{background-position:0 -3520px;}
.pattern90{background-position:0 -3560px;}
.pattern91{background-position:0 -3600px;}
.pattern92{background-position:0 -3640px;}
.pattern93{background-position:0 -3680px;}
.pattern94{background-position:0 -3720px;}
.pattern95{background-position:0 -3760px;}
.pattern96{background-position:0 -3800px;}
.pattern97{background-position:0 -3840px;}
.pattern98{background-position:0 -3880px;}
.pattern99{background-position:0 -3920px;}
.pattern100{background-position:0 -3960px;}
.pattern101{background-position:0 -4000px;}
.pattern102{background-position:0 -4040px;}
.pattern103{background-position:0 -4080px;}
.pattern104{background-position:0 -4120px;}
.pattern105{background-position:0 -4160px;}
.pattern106{background-position:0 -4200px;}
.pattern107{background-position:0 -4240px;}
.pattern108{background-position:0 -4280px;}
.pattern109{background-position:0 -4320px;}
.pattern110{background-position:0 -4360px;}

/* Fonts */

#of_container .fonts{
	background-color: #F0F0F0;
    height: 320px;
    left: 103px;
    margin-top: 3px;
    overflow: auto;
    padding-left: 9px;
    position: absolute;
    top: 26px;
    width: 348px;
    z-index: 90;
	display: none;
}

#of_container .font{
	color: #444444;
    cursor: pointer;
    display: block;
    height: 30px;
    position: relative;
    text-decoration: none;
    width: 258px;
    z-index: 91;
}

#of_container .font:hover {
    color: #444444;
}

#of_container .important-info{
	background-color: rgb(255,255,224);	
	border: 1px solid rgb(230,219,150);
	border-radius: 3px;
}
#of_container #content .important-info h5.heading{	
	border-bottom: 0px solid rgb(255,255,224);
	padding: 0px 10px;
}

#of_container .font:hover{
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}

.of-typography {
    padding: 3px 0 0 3px !important;
}

.arial,
.courier-new,
.futura,
.georgia,
.impact,
.lucida,
.palatino,
.tahoma,
.times-new-roman,
.trebuchet-ms,
.verdana,
.abel,
.amaranth,
.anton,
.arimo,
.arvo,
.bitter,
.cabin,
.crete-round,
.droid-sans,
.droid-serif,
.gruppo,
.fjord-one,
.josefin-sans,
.lato,
.lobster-two,
.marvel,
.michroma,
.nobile,
.noticia-text,
.open-sans,
.open-sans-condensed,
.oswald,
.pacifico,
.play,
.pt-sans,
.pt-serif,
.salsa,
.sancreek,
.sansita-one,
.shanti,
.sofia,
.terminal-dosis,
.ubuntu,
.unifrakturmaguntia,
.yanone-kaffeesatz{ background:url(../images/fonts.png) 0 0 no-repeat scroll; }

.arial{background-position:0 -0px;}
.courier-new{background-position:0 -30px;}
.futura{background-position:0 -60px;}
.georgia{background-position:0 -90px;}
.impact{background-position:0 -120px;}
.lucida{background-position:0 -150px;}
.palatino{background-position:0 -180px;}
.tahoma{background-position:0 -210px;}
.times-new-roman{background-position:0 -240px;}
.trebuchet-ms{background-position:0 -270px;}
.verdana{background-position:0 -300px;}
.abel{background-position:0 -330px;}
.amaranth{background-position:0 -360px;}
.anton{background-position:0 -390px;}
.arimo{background-position:0 -420px;}
.arvo{background-position:0 -450px;}
.bitter{background-position:0 -480px;}
.cabin{background-position:0 -510px;}
.crete-round{background-position:0 -540px;}
.droid-sans{background-position:0 -570px;}
.droid-serif{background-position:0 -600px;}
.gruppo{background-position:0 -630px;}
.fjord-one{background-position:0 -660px;}
.josefin-sans{background-position:0 -690px;}
.lato{background-position:0 -720px;}
.lobster-two{background-position:0 -750px;}
.marvel{background-position:0 -780px;}
.michroma{background-position:0 -810px;}
.nobile{background-position:0 -840px;}
.noticia-text{background-position:0 -870px;}
.open-sans{background-position:0 -900px;}
.open-sans-condensed{background-position:0 -930px;}
.oswald{background-position:0 -960px;}
.pacifico{background-position:0 -990px;}
.play{background-position:0 -1020px;}
.pt-sans{background-position:0 -1050px;}
.pt-serif{background-position:0 -1080px;}
.salsa{background-position:0 -1110px;}
.sancreek{background-position:0 -1140px;}
.sansita-one{background-position:0 -1170px;}
.shanti{background-position:0 -1200px;}
.sofia{background-position:0 -1230px;}
.terminal-dosis{background-position:0 -1260px;}
.ubuntu{background-position:0 -1290px;}
.unifrakturmaguntia{background-position:0 -1320px;}
.yanone-kaffeesatz{background-position:0 -1350px;}