#premium-upgrade-content{ max-width: 1000px; font-size: 14px; line-height: 1.5em;}
.upgrade-reasons{ margin-bottom: 30px; }
.upgrade-reasons,
.money-back-claim{ margin-top: 20px; position: relative; background:#fffbe8; border: 1px solid #ede3c8; padding: 20px 50px 20px 210px; min-height: 120px;}
.money-back-bg{ position: absolute; width: 150px; height: 140px; left: 20px; top: 50px; background:url(../images/upgrade.png) no-repeat -10px -150px;}
.money-back-claim .money-back-bg{ top: 10px !important; }
.ok-list li{ margin-top: 15px; }
.ok-list li span{ float: left; width: 25px; height: 25px; background:url(../images/upgrade.png) no-repeat 0px 0px; margin-right: 10px; }
.upgrade-list-head{ margin-bottom: 20px; font-size: 1.25em; }
#plans{margin-top: 40px;}
.plan{width: 25%; float: left;}
.plan h3{ margin: 0; color: #fff; background: #2b2b2b; text-transform: uppercase; text-align: center; padding: 15px 0; font-size: 1.125em;}
#developer.plan h3{ background-color: #222; }
.price{ position: relative; color: #fff; background: #212121; padding-top: 10px; height: 110px; }
#developer .price{ background-color: #000; }
 .price .currency{ position: absolute; left: 30%; font-size: 1.25em; }
 .price .cash{ font-weight: bold; font-size: 4em; text-align: center; line-height: 1.3;}
 .price .licence{ margin: 0 auto; text-align: center; color: #888; font-style: italic; cursor: pointer; }
ul.plan-features{ margin-top: 0; }
.plan-features li{ margin: 0; text-align: center; text-transform: uppercase; padding: 20px; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; line-height: 1em !important;}
ul.plan-items{ margin: 170px 0 0 0; border-top: 1px solid #d9d9d9; }
.plan-items li{
	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	padding: 20px 20px 20px 20px;
	text-align: right;
	padding-right: 40px;
	font-weight: bold;
	line-height: 1em !important;
	margin: 0;
}
li.include span{
	text-indent: -9999px;
	white-space: nowrap; 
	display: block;
	width: 23px;
	height: 23px;
	background:url(../images/upgrade.png) no-repeat -43px 0;
	margin: 0 auto;
}
li.money-back,
li.current-option{
	padding-top: 36px;
	padding-bottom: 36px;
}
li.new-version,
li.design,
li.support,
li.pro-support,
li.psds{ height: 14px; }

.most-popular{
	position: absolute;
	width: 87px;
	height: 90px;
	top: -10px;
	right: -10px;
	z-index: 20;
	background: url(../images/upgrade.png) no-repeat 0 -61px;
}

#money-back{
	padding: 15px 0;
	background-color: #fffbe8;
	width: 75%;
	float: right;
	text-align: center;
	font-weight: bold;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}

#developer li,
.developer-pay{
	background-color: #f7f7f7;
}

.credit-cards{
	margin-top: 20px;
	margin-left: 28%;
	padding-bottom: 30px;
	text-align: center;
	font-style: italic;
}

span.credit-cards-logos{
	width: 170px;
	height: 20px;
	float: left;
	margin-top: 3px;
	background: url(../images/upgrade.png) no-repeat 0 -30px;
}

.button-hero{
	width: 100%;
	text-align: center;
}

#faqs h3{
	margin: 10px 0;
}

#faqs h4{
	background-color:#fef9c7;
	display: inline-block;
	margin: 10px 0;
}

/* fix the tweet old posts - prefix your shit*/
.wrap h2{ margin-top: 0px !important; }