@charset "utf-8";

/************************** Import Fonts and Icons *************************/

/* Lato - From Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300italic,300,100italic,100");

/* Lightbox */
@import url("lightbox.css");

/* Entypo */
@import url("fonts/entypo.css");

[class*="entypo-"]:before {
	font-family: "entypo", sans-serif;
	font-style: normal;
}



/********************** Transitional elements **********************/				
.container .row a, .button-gym, .accordion-heading, .logos li img,
.gallery .example-image-link:hover img
{ 
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-o-transition: 0.3s all;
	-ms-transition: 0.3s all;
	transition: 0.3s all;
}



/************************* General Styles *************************/
body {
	color: #4c4f55;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #252f38;
	font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

h2.headers { font-size: 2.3em; }
h2.article-title { font-size: 2.7em; }
h2 { font-size: 2.3em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.07em; }
h6 { font-size: 0.9em; }

p { line-height: 1.8em; }

ul { padding: 0; }

canvas{
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: none;
	outline: none;
	color: #252F38;
 }

/*img {
	height: auto;
	width: 100%;
 }*/




/***************************************************************************/
/********************** General Styles for Components **********************/

/********************************* scrollbar *******************************/
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(182,182,182,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(182,182,182,0.4); 
}

/********************************* Accordion *******************************/
.accordion-group {
	border: 0;
	border-radius: 0;  
}

.accordion-group .accordion-heading {
	border: 1px solid #E5E5E5;
	color: white;
	overflow: hidden;
	padding: 0 1.5em;
}

.accordion-group .accordion-heading:hover {
	background: #252f38;
}

.accordion-group .accordion-heading h5 {
	color: white;
	float: left;
	text-transform: uppercase;
}

.accordion-group .accordion-toggle {
	border: 1px solid #CAD4D3;
	color: #CAD4D3;
	display: block;
	float: right;
	font-size: 1.2em;
	height: 13px;
	line-height: 0.8em;
	margin: 13px 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	width: 13px;
}

.accordion-group .accordion-body {
	margin-top: 2px;
}

.accordion-group .accordion-body .accordion-inner {
	border: 1px solid #E5E5E5;
	padding: 1.5em;
}

.accordion-group .accordion-body .accordion-inner h5{
	text-transform: uppercase;
}

.accordion-group .accordion-body .accordion-inner .accordion-toggle {
	font-size: 2em;
	font-weight: normal;
	line-height: 0.4em;
}


/*********************************** Tabs **********************************/
.nav-tabs {
	border-bottom: 0;
	margin: 0; 
}

.nav-tabs > li > a {
	border-left: 0;
	border-radius: 0;
	border: 1px solid #DDD;
	color: white;
	font-weight: bold;
	margin-right: 0;
	padding: 0.6em 2em;
	text-transform: uppercase;
}

.nav-tabs > li > a:first-child { 
	border-left: 1px solid #DDD;
}

.nav-tabs > li > a:hover {
	background: #252f38;
}

.tab-content {
	border: 1px solid #DDDDDD;  
	padding: 2em;
}

.nav-tabs.nav-tabs-sec li > a {
	background: white;
}

.nav-tabs.nav-tabs-sec li > a {
	background: white;
	font-family: 'Lato', sans-serif;
}

.nav-tabs.nav-tabs-sec > li > a:hover {
	background: #252f38;
	color: white;
}

.nav-tabs.nav-tabs-sec > li.active > a,
.nav-tabs.nav-tabs-sec > li.active > a:hover {
	color: white;
}

.tab-content.nav-tabs-sec {
	color: white;
}


/******************************** Tabs Left ********************************/
.tabs-left .nav-tabs {
	padding: 0;
}
.tabs-left .nav-tabs > li {
	float: none;
	border-bottom: 1px solid #ddd;
}
.tabs-left .nav-tabs > li a {
	background:none;
	border: none;
	color: #4c4f55;
	display: table-cell;
	font-weight: normal;
	height: 60px;
	line-height: 60px;
	padding: 0 2em;
	text-transform: capitalize;
	vertical-align: middle;
	width: 217px;
	margin: 0 0 0 50px;
}

.tabs-left .nav-tabs > li.active {
	background-color: #fff;
	border-bottom-left-radius: 3px;
	border-left: 1px solid #ddd;
	border-top-left-radius: 3px;
	border-top: 1px solid #ddd;
	margin-right: -1px;
	z-index: 1;
}
.tabs-left .nav-tabs > li.active a {
	border: 0;
	color: #252f38;

}

.tabs-left .tab-content {
	border: none;
	border-left: 1px solid #ddd;
}


/********************************* Buttons *********************************/
.button-gym {
	border-radius: 2px; 
	border-style: solid;
	border-width: 2px;
	color: white;
	font-size: 1.07em;
	font-weight: bold;
	line-height: 1;
	padding: 0.8em 1.8em;
	text-transform: uppercase;
}

.button-gym.big-button {
	font-size: 1.07em;
	padding: 1em 1.8em;
}

.button-gym.medium-button {
	font-size: 1.07em;
}

.button-gym.normal-button {
	font-size: 0.9em;
	padding: 0.5em 1.8em;
}

.button-gym.big-button:hover,
.button-gym.medium-button:hover,
.button-gym.normal-button:hover,
.button-gym.big-button.active,
.button-gym.medium-button.active,
.button-gym.normal-button.active {
	background: white;
}

.button-list {
	list-style: none;
	text-align: center;
}

.button-list li {
	margin-bottom: 10px;
}

.button-gym.view-all { 
	background-color: #fff;
	border-color: #CDD1D0;
	color: #849bae;
	margin: -70px 50px 0 0;
}

.button-gym.view-all:hover { 
	text-decoration: none;
}

.button-gym.view-all.no-margin { 
	margin-right: 0;
}




/****************************** Message boxes ******************************/
.alert {
	background-color: #d2b930;
	border-radius: 0 0 0 0;
	border: 0 none;
	color: white;
	padding: 1em 1.5em;
	text-shadow: none;
}

.alert.alert-success {
	background-color: #72B43C;  
}

.alert.alert-info {
	background-color: #3c83b4;  
}

.alert.alert-error {
	background-color: #e72a2a;  
}

.alert .close {
	border: 1px solid white;
	color: white;
	font-size: 1em;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	opacity: 1;
	right: 0;
	width: 20px;
}



/******************************* Progress Bar ******************************/
.progress {
	background-color: #dddddd;
	border-radius: 0;
	height: auto;
}

.progress .bar {  
	background-image: none;
	border-radius: 0;
	color: white;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0.5em 1em;
	text-align: left;
	text-transform: uppercase;
}



/************************************ Cap **********************************/
.cap {
	display: inline-block;
	float: left;
	font-size: 3em;
	line-height: 1;
	margin: 0 4px 0 0;
}



/******************************** Highlights *******************************/
.highlight {
	color: white;
	display: inline-block;
	line-height: 1.2em;
	padding: 0 1px;
}

.highlight-green-under {
	text-decoration: underline;
}

.highlight-dark {
	background: #252f38;
}

.highlight-gray {
	background: #849bae;
}



/*********************************** Tags **********************************/
.tags {
	list-style: none;
	margin: 0;
}

.tags li {
	display: inline-block;
	margin-bottom: 0.5em;
}

.tags li a {
	background: #849bae;
	border-radius: 2px;
	color: white;
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
}




/******************************** Icon list ********************************/
.custom-icon-list {
	list-style: none;
	margin: 0;
}

.custom-icon-list li i {  
	display: block;
	float: left;
	font-size: 1em;
	margin-right: 0.2em;  
	text-align: center;
	width: 1.2em;
	margin-top: 3px;
}

.custom-icon-list li i.entypo-cd,
.custom-icon-list li i.entypo-record {
	font-size: 10px;
}



/********************************** Social *********************************/
.social {
	margin: 0;
}

.social li {
	display: inline-block;
	margin-bottom: -0.5em;
	margin-right: 4px;
}

.social li a {
	border-radius: 2px;
	color: white;
	display: block;
	font-size: 1.5em;
	height: 30px;
	text-align: center;
	text-decoration: none;
	width: 30px;
}

.social li a:hover,
.social li.active a {
	background: none;
}

.carousel-inner .social p i {
    display: flex;
    float: left;
    margin-left: 6px;

}

/********************************* Dropdowns *******************************/
.dropdown {  
	z-index: 2000; 
}

.dropdown ul {
	display: none;
	left: 0;
	overflow: visible;
	position: absolute;
	text-align: left;
	top: 100%;
}

.dropdown:hover ul {
	display: block;
}

.dropdown ul li {
	display: inline-block;
	list-style: none;
}

.dropdown ul li a {
	display: inline-block;
	margin: 0;
	padding: 0 15px;
}

.dropdown ul li a:hover {
	text-decoration: none;
}


/******************************* Testimonial *******************************/
.testimonial-container p {
	border-radius: 3px 3px 3px 3px;
	border: 2px solid #252F38;
	margin: 0;
	padding: 1.5em 2em;
}

.testimonial-container span.border {  
	border-right: 32px solid transparent;
	border-top: 22px solid #252F38;
	display: block;
	margin-left: 4em;
	margin-top: -2px;
	width: 0;
}

.testimonial-container span.back {  
	border-right: 25px solid transparent;
	border-top: 18px solid white;
	display: block;
	margin-left: 2px;
	margin-top: -22px;
	width: 0;
}

.testimonial-container.thi p {
	background: #252F38;
	color: white;
}

.testimonial-container .img-container {
	display: block;
	float: left;
	margin: 5px 10px 0 0;
}

.testimonials-name {  
	margin: 0;
}

.testimonials-position {
	margin: 0;
	text-transform: uppercase;
}



/******************************* Pagination ********************************/
.pagination {
	margin: 0 0 0 10px;
}

.pagination li a {
	border-radius: 4px 4px 4px 4px !important;
    color: #474747 !important;
    font-size: 16px !important;
    height: 43px;
    margin: 0 5px;
    text-align: center;
    width: 43px;
}

.pagination li:last-child a,
.pagination li:first-child a{
	font-size: 2em;
	line-height: 0;
	padding-top: 19px;
}

.pagination .active:hover a{
	cursor: pointer;	
}

.pagination .active a{
	color: #fff !important;
}

.pagination li:hover a {
	color: #fff !important;
	cursor: pointer;
}


/********************************** Panel **********************************/
.panel.panel-gym .panel-heading,
.panel.panel-gym .panel-footer {
	border-radius: 0;
	text-align: center;
}

.panel.panel-gym .panel-heading h3 {
	color: #fff;
	font-size: 1.8em;
	font-weight: bold;
	padding: 0.4em;
}

.panel.panel-gym .panel-footer {
	background-color: #252f38;
	color: #fff;
	font-size: 1.8em;
	font-weight: bold;
	padding: 0.4em;
	text-transform: uppercase;
}

.panel.panel-gym .panel-footer a {
	color: #fff;
}

.panel.panel-gym .panel-body {
	background-color: #f1f1f1;
	font-size: 1.1em;
	line-height: 2em;
}



/********************************** Badge **********************************/
.badge.badge-gym {
	background-color: #CDD1D0;
	border-radius: 0;
	color: #4c4f55;
	font-weight: normal;
	height: 1.6em;
	padding: 3px 15px;
}



/********************************** Line **********************************/
.line {
	border-bottom: 1px solid #CDD1D0;
	display: block;
	margin: 0 0 30px 0;
}

.line .sub-line {
	display: block;
	margin-bottom: -1px;
	width: 51px;  
}



/****************************** Flickr Feed ********************************/
.flickr-feed {
	list-style: none;
	height: 154px;
}

.flickr-feed li {
	float: left;
	margin: 3.5px;
	border: 1px solid #b3b3b3;
	box-sizing: border-box;
}

.flickr-feed li:hover {
	margin: 1.5px;
}





/***************************************************************************/
/**************************** Plugins / Modules ****************************/


/**************************** Revolution Slider ****************************/
.bannercontainer {
	max-height:490px !important;
	overflow:hidden;
	padding:0;
	position:relative;
	width:100% !important;
	height: 100%;
}

.tp-leftarrow.default,
.tp-rightarrow.default {
	background-repeat:no-repeat;
	height: 64px;
	opacity: 1;
	width: 64px;
}

.tp-rightarrow.default:hover {
	background-position: 0 -66px;
}

.tp-leftarrow.default {
	background-position: -64px 0;
}

.tp-leftarrow.default:hover {
	background-position: -64px -66px;
}





/**************************** Isotope filtering ****************************/
.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	-webkit-pointer-events: none;
	   -moz-pointer-events: none;
		-ms-pointer-events: none;
		 -o-pointer-events: none;
	z-index: 1;
}
.isotope,
.isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	   -moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		 -o-transition-duration: 0.8s;
			transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	   -moz-transition-property: height, width;
		-ms-transition-property: height, width;
		 -o-transition-property: height, width;
			transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	   -moz-transition-property:    -moz-transform, opacity;
		-ms-transition-property:     -ms-transform, opacity;
		 -o-transition-property:      -o-transform, opacity;
			transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	   -moz-transition-duration: 0s;
		-ms-transition-duration: 0s;
		 -o-transition-duration: 0s;
			transition-duration: 0s;
}





/***************************************************************************/
/******************* General Styles for Commons Sections *******************/


/********************************* General *******************************/
section .row { 
	margin-bottom: 10px; 
}

.article-container {
	padding: 3em 0;
}



/***************************** Featured Classes ****************************/
.fc-container {
	margin-bottom: 40px;
}
.fc-container h3{
	line-height: 1;
	margin: 0 0 0.5em;
}

.fc-container a:hover {
	color: #252F38;
}



/************************* Bodybuilding Supplements ************************/
.slider-control {
	font-size: 2.5em;
	padding: 5px;
	margin-top: -66px;
	color: #FFF;
	display: block;
	width: 14px;
	height: 21px;
	background-position: -16px 0;
}

.slider-control.prev {
	margin: -66px 20px 0 0;
	background-position: 0 0;
}

.slider-control:hover {
	text-decoration: none;
	background-position: -16px -23px;
	outline: none;
}
.slider-control.prev:hover {
	background-position: 0 -23px;
	outline: none;
}

.logos {
	list-style: none;
	margin: 0;
	width: 100%;
}

.logos li {
	float: left;
	margin-right: -2px;
	width: 20%;
}

.logos li img {
	border: 2px solid #849bae;
}

.logos li img:hover {
	outline: none;
	color: #0af725;
}



/******************************* Pricing Table *****************************/
.pricing-table {
	border-radius: 2px;
	border: 1px solid #DDD;
	list-style: none;
	margin: 0 0 50px 0;
	text-align: center;
}

.pricing-table li {
	padding: 1em;
}

.pricing-table .title {
	border-radius: 2px 2px 0 0;
	color: white;
	padding: 2em 1em 0.5em;
}

.pricing-table .title .item-title {
	font-size: 1.6em;
	margin-bottom: 0.7em;
}

.pricing-table .title .item-price {
	font-size: 1.8em;   
	line-height: 1;
}

.pricing-table .title .item-price strong {
	font-size: 2.1em; 
	font-weight: normal;
}

.pricing-table .features {
	border-bottom: 1px solid #DDDDDD;
	font-size: 1.4em;
}

.pricing-table .button {  
	padding: 0;  
}

.pricing-table .button a {
	color: white;
	display: block;
	font-size: 1.4em;   
	font-weight:  bold;
	padding: 1.2em 1em 1em; 
	text-decoration: none;
	text-transform: uppercase;
}

.pricing-table .button a:hover {
	background: #252f38;
}



/********************************* Magic Grid ******************************/
.grid .content .element { 
	margin: 0 10px 40px;
}


.grid .content .element .link {
	background: #f6f6f6;
	height: auto;
	text-align: center;
	width: 370px; 
}

.grid .content .element .link a {
	display: block;
	height: 83%;
	margin: 0;
	opacity: 0; 
	position: absolute; 
	transition: opacity .5s ease-out;
	-webkit-transition: opacity .5s ease-out;
	width: 100%;
}

.grid .content .element .link:hover a { 
	opacity: 0.8; 
}

.grid.magic-grid .filters { 
	margin-bottom: 50px; 
}

.grid.magic-grid .filters button { 
	background-color: #fff;
	border-color: #CDD1D0;
	color: #849bae;
}

.grid.magic-grid .filters button:hover { 
	color: #fff;
}

.grid.magic-grid .content .element .title {
	border-bottom: 2px solid #ccc;
	border-top: 2px solid #ccc;
	text-align: center;
}

.grid.magic-grid .content .element .title h4{
	font-weight: bold;
	margin-bottom: 5px;
}

.grid.slider-grid .content .element {
	display: inline-block;
	margin: 0 22px 40px;
}

.grid.slider-grid .content .element:first-child { 
	margin-left: 15px;
}

.grid.slider-grid .content .element:last-child { 
	margin-right: 0px; 
}

.grid.slider-grid .content .element .link {
	height: auto; 
	width: 250px; 
}

.grid.slider-grid .content .element .title {
	border: 2px solid #ccc; 
	padding: 15px 20px;
	width: 250px; 
}

.grid.slider-grid .content .element .title h4,
.grid.slider-grid .content .element .title h6 {
	font-weight: bold;
}

.grid.slider-grid .content .element .title h4 a {
	color: #252F38;
}

.grid.slider-grid .content .element .title .social {
	padding: 0;
}

.grid.slider-grid .content .element .title p {
	line-height: 1.6em;
	margin-top: 5px;
}



/********************************* Comments ******************************/

.commentlist .comment  {
	float: left;
    margin-bottom: 40px;
}

#comments {
    margin-left: 15px;
	color:	#252F38;
	font-size: 35.1px;
	line-height: 38.616px;
	border-bottom: 1px solid #CDD1D0;
    display: block;
	width: 96.5%;
	padding: 0 0 13px;
	margin-bottom: 40px;
}

.commentlist {
    color: transparent;
    float: left;
    margin-left: -41px;
}

.commentlist .comment .arrow-before {
	border-bottom: 6px solid #dde4e4;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	font-size:0px;
	height:0px;
	left: 50px;
	line-height:0px;
	position: relative;
	top: 6px;
	width:0px;
}
.commentlist .comment  .arrow-after {
	border-bottom: 6px solid white;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	font-size:0px;
	height:0px;
	left: 50px;
	line-height:0px;
	position: relative;
	top: 1px;
	width:0px;
}

.commentlist .comment .comment-author {
    float: left;
}

.commentlist .comment .comment-author .fn {
font-weight: bold;
font-size: 16.9px;
line-height: 18.5833px;
font-weight: 700;
color: #252F38;

}

.commentlist .comment .comment-author .says {
	display: none;
}

.commentlist .comment .comment-body p {
	border: 1px solid #dde4e4;
	line-height: 2em;
	margin: 0 15px;
	padding: 35px;
	float: left;
	font-size: 13px;
	color: #4C4F55;
	width: 96.5%;
}

.commentlist .comment .comment-meta {
    float: left;
    margin-left: 10px;
	margin-top: -1px;
}

.commentlist .comment .comment-meta a {
	color:  #5d5d5d;
	font-size: 13px;
	font-weight: normal;
	line-height: 11.833px;
}

.commentlist .comment img {
	background: #2e333e;
	border: 1px solid #dde4e4;
	float: left;
	height: 78px;
	margin: 0 15px 15px;
	width: 78px;
}
.commentlist .comment header .badge.badge-gym {
	background: #ececec;
	color: #a7a7a7;
	cursor: pointer;
	font-size: 1.3em;
	height: 28px;
	margin-right: 15px;
	padding: 5px;
	width: 28px;
}
.commentlist .comment header .badge.badge-gym.up:hover {
	background: #7cb883;
	color: #fff;
}
.commentlist .comment header .badge.badge-gym.down:hover {
	background: #EDA4A0;
	color: #fff;
}
.commentlist .reply {
    margin-left: 108px;
    margin-top: 47px;
    position: absolute;
}

.commentlist .comment header button:hover {
	background: #fff;
}

#respond h2 {
    margin-left: 15px;
}


/********************************* Sub-Header ******************************/
.sub-header {
	background-color: #d6ebf0 !important;
	padding: 2.5em 0;
	background-size: cover !important;
}

.sub-header .sub-header-container {
	list-style: none;
	margin: 0;
}

.sub-header .title {
	background: #40494f;
	display: inline-block;
	padding: 0.5em;
	text-transform: uppercase;
}

.sub-header .custom-breadcrumb {
	background: #48555d;
	display: inline-block;
	list-style: none;  
	margin: 0;
	padding: 0 0.5em;
}

.sub-header .custom-breadcrumb li {
	display: inline-block;
}

.sub-header .custom-breadcrumb h6{
	margin: 0;
	line-height: 1;
}

.sub-header .custom-breadcrumb a {
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
}
.sub-header .custom-breadcrumb li h6  {
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}




/*********************************** Sidebar *******************************/

.single_page h2, .single_page h3 {
    margin-bottom: 20px;
}

.single_page ul  {
	margin: 10px 0 30px;
}

.single_page ol {
}

.single_page ul li {
    background: url("../img/tick_green.png") no-repeat scroll 0 3px transparent;
    margin: 10px 0;
    padding-left: 20px;
	list-style: none outside none;
	display: block !important;
	line-height: 1.5;
}
.single_page ol li {
    margin: 10px 0;
}

.single_page li > ul, li{
padding: 0;
line-height: 1.5;
margin: 0 0 0 0px;

}

.single_page ul li span{
}
.single_page table td {
    border-bottom: 1px solid #E5E2E2;
    padding: 6px 10px 6px 0;
}
.single_page dd {
    line-height: 1.71429;
    margin-bottom: 1.7rem;
}
.single_page dt {
    font-weight: bold;
    line-height: 1.71429;
}

.single_page .size-large {
    width: 100%;
}

.single_page iframe {
    width: 100% !important;
}

.comment-body p {
   color: #4C4F55;
}

.content dt {
    font-weight: bold;
    line-height: 1.71429;
}

.sidebar h3 {
	margin-top: 50px;
}

.sidebar .categories {
	line-height: 2em;
}

.sidebar .categories li a {
	color: #252f38;
}

.categories li a:hover { 
	text-decoration: none; 
}

#mc_signup_form {
	padding: 25px 15px;
}

#mc_signup_form .mc_var_label{
	font-size: .6em;
}

#mc-indicates-required {
	color: #94949E;
	font-size: .6em;
}

#mc_signup_submit {
	background-color: #5C5959;
	border-radius: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: #5C5959;
	color: #FFF;
	font-size: .6em;
	font-weight: bold;
	padding: 0.4em 1.5em;
	text-transform: uppercase;
	margin: 2em auto 0 auto;
}
#mc_signup_submit:hover {
	background: transparent;
	border-color: #5C5959;
	color: #5C5959;
}
#mc_display_rewards {
	font-size: .5em;
}

/******************** Common for News and Single News **********************/
.post {
	background-color: #f8f8f8;
	float: left;
	margin: 0 0 40px;
	width: 100%;
}

.col-sm-12 .post {
	width: 562px;
}

/* .post:nth-child(2n+3){
	margin-left: 15px;
} */

.post header {
	height: auto;
	margin: 0 0 20px 0;
	overflow: hidden;
}

.post header h3 {
	background-color: #202a32;
	color: #849bae;
	font-size: 16px;
	font-weight: bold;
	height: 3em;
	line-height: 3em;
	margin: 0px;
	padding: 0 15px;
	text-transform: uppercase;
	width: 100%;
}

.post > h4 {
	color: #474747;
}

.post img {
	/*height: 100%;
	width: 100%;*/
}

.post p {
        box-sizing: border-box;
        color: rgb(76, 79, 85);
        display: block;
        font-family: Lato, sans-serif;
        font-size: 13px;
}




/***************************************************************************/
/************************ General Styles for Header ************************/

/********************************* Top Bar *********************************/
header .top-bar {
	background: #1a2127;
	border-bottom: 1px solid #232a30;  
}

header .top-bar ul {
	list-style: none;
	margin: 0;  
}

header .top-bar ul li {
	border-right: 1px solid #111619;
	float: left;
	margin: 0;
}

header .top-bar ul li > a {
    border-right: 1px solid #232A30;
    color: #FFFFFF;
    display: block;
    font-family: 'Lato',​sans-serif;
    font-size: 11.7px;
    height: 51px;
    padding: 1.1em 1.9em;
    text-decoration: none;
    text-shadow: 0 0.1em #000000;
}


header .top-bar ul li a i {
	color: #849bae;
	font-size: 1.3em;
}

header .top-bar ul li i:hover {
	color: #066322;
}

header .top-bar ul.misc {
	padding: 0;
}

header .top-bar ul.misc li a i {
	margin-right: 0.7em;
}

header .top-bar .dropdown ul { 
	margin-top: 1px;
	padding: 10px 0 0 0;
}

header .top-bar .dropdown ul li { 
	border: none;
	color: #fff;
	font-size: 1.15em;
	margin: 0;
	padding: 3px 20px;
	width: 300px;
}

header .top-bar .dropdown ul li i {
	float: left;
	font-size: 1.2em;
	margin-right: 1em;
	text-align: center;
	width: 14px;
}

header .top-bar .dropdown ul li:last-child { 
	cursor: pointer;
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 10px;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
}

header .top-bar .dropdown ul li:last-child a { 
	background: none; 
	border: none;
	display: inline;
	font-size: 0.7em;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

header .top-bar .dropdown ul li:last-child a:hover { 
	background: none; 
}



/******************************** Main Menu ********************************/
header .main-menu {
	background: #252f38;
	border-bottom: none;
	border-top: 1px solid #111619;  
}

header .main-menu .main-menu-line {
	border-bottom: 1px solid #abbcc0;
}

header .main-menu .navbar {
	margin: 0;
}

header .main-menu .navbar .logo {
	margin: 0;
}

header .main-menu .navbar .navbar-brand {
	height: 98px;
	line-height: 98px;
	padding: 0 15px;
}

header .main-menu .navbar .navbar-toggle {
	border-radius: 0;
	border: 0;
}

header .main-menu .navbar .navbar-toggle .icon-bar {
	border-radius: 0;
	box-shadow: 0 0.06em #8CE8A8;
	display: block;
	height: 2px;
	margin-top: 4px;
	width: 1em;
}

header .main-menu .nav {
	border-right: 1px solid #1e262e;
}

header .main-menu .nav > li {
	border-left: 1px solid #1e262e;
	margin: 0px;
}

header .main-menu .nav li > a {  
	color: white; 
	font-size: 1.07em;
	font-weight: bold; 
	height: 98px;
	line-height: 98px;
	padding: 0 1.7em;
	text-shadow: none;
	text-transform: uppercase;
} 



header .main-menu .nav li > a:hover,
header .main-menu .nav li.active > a,
header .main-menu .nav li.active > a:hover {  
	box-shadow: none;
	color: white;
}

header .main-menu .navbar .btn-navbar {
	border-radius: 0;
	border: 0;
}

header .main-menu .navbar .btn-navbar .icon-bar {
	background-color: #066322;
	border-radius: 0;
	box-shadow: 0 0.06em #8CE8A8;
	display: block;
	height: 2px;
	margin-top: 4px;
	width: 1em;
}

header .main-menu ul li ul { 
	display: none;
}

header .main-menu ul ul li { 
	list-style: none;
	margin: 0;
}

header .main-menu ul li:hover ul { 
    display: block;
    position: absolute;
}


header .main-menu li ul { 
	padding: 0;
}

header .main-menu li ul li a { 
	background-color: #252f38;
	padding: 0; 
}

header .main-menu .sub-menu a { 
	display: inline-block;
        height: 100% !important;
        line-height: 44px !important;
        width: 185px;
}

header .main-menu .current-menu-item a {
        background: none repeat scroll 0 0 #21B44E;
}



/********************************* Dropdowns *******************************/
.menu-item-has-children {  
	z-index: 2000; 
}

.menu-item-has-children ul {
	display: none;
	left: 0;
	overflow: visible;
	position: absolute;
	text-align: left;
	top: 100%;
}

.menu-item-has-children:hover ul {
	display: block;
}

.menu-item-has-children ul li {
	display: inline-block;
	list-style: none;
}

.menu-item-has-children ul li a {
	display: inline-block;
	margin: 0;
	padding: 0 15px;
}

.menu-item-has-children ul li a:hover {
	text-decoration: none;
}





/***************************************************************************/
/************************ General Styles for Footer ************************/

/********************************* General *********************************/
footer {
	background: url("../img/footer-back.png");
	color: white;    
}

footer h3{
	color: #849bae;
	text-shadow: 0 0.06em #111619;  
}

footer input[type=text],
footer input[type=email] {
	background: #1d232a;
	border-radius: 2px;
	border: 0;
	color: #fff;
	font-size: 1em;
	font-style: italic;
	width: 90%;
}

footer input[type=text]:focus,
footer input[type=email]:focus {
	background-color: #14191e;
}

footer button:hover {
	background:transparent;
	text-shadow: none;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer ul li {
	margin: 0;
}


/*********************************** Misc **********************************/
footer .misc {
	min-height: 514px;
	padding: 40px 0;
}

footer .misc p {
	line-height: 2em;
	margin-bottom: 2em;
}

footer .misc .about li {
	margin-bottom: 0.5em;
	overflow: hidden;
}

footer .misc .about li i {
	display: block;
	float: left;
	font-size: 1.2em;
	margin-right: 1em;
	text-align: center;
	width: 14px;
}

footer .misc .links li {
	border-bottom: 1px solid #2c3640;
}

footer .misc .links li a {
	color: white;
	display: block;
	margin: 15px 0 20px;
	text-decoration: none;
}

footer .misc .links li:first-child a {
	margin-top: 0;
}

footer .misc .links li a i {
	font-size: 1.2em;
	margin-right: 0.5em;
}



/*********************************** Copy **********************************/

footer .copyright {
	background: #2c3640;
	border-top: 2px solid #1e2730;
	padding: 1em 0;
}

footer .copyright p {
	margin: 0;
}

footer .copyright p a {
	text-decoration: none;  
}

footer .copyright .main-links li {
	border-right: 1px solid #546475;
	display: inline-block;
	line-height: 1;
	padding: 0 1em;
}

footer .copyright .main-links li:last-child {
	border-right: 0;
}

footer .copyright .main-links li a {
	color: white;
	text-decoration: none;
}







/***************************************************************************/
/************************ Specific Styles for Pages  **********************/

/********************************** Home ***********************************/
#home .sub-header {
	padding: 0;
	background: #fff;
}

#home .banner {
	font-family: "Lato";
	font-size: 13px;
	text-transform: uppercase;
}

#home .banner h2,
#home .banner p,
#home .banner a {
	display: block;  
	font-family: "Lato";
	
	text-align: center;
	height: 2em;
	line-height: 2em;
}

#home .banner .slide1 h2 {
	color: white;
	font-size: 3.6em; /*46.8px*/ 
	width: 8.97em; /* 420 / 46.8 = 8.97*/
}

#home .banner .slide1 p {
	background: #3a4349;
	font-size: 1.8em; /* 23.4px */
	width: 17.94em; /* 420 / 23.4 = 17.94*/
	margin-top: 5em;
}

#home .banner .slide1 a {
	color: white;
	font-size: 2.3em;  /* 29.9px */
	height: 2.3em;
	line-height: 2.3em;
	text-decoration: none;
	width: 14.05em; /* 420 / 29.9 = 14.05 */
	margin-top: 5.5em;
}



#home .banner .slide2 .divA,
#home .banner .slide2 .divB,
#home .banner .slide2 .divC {
	background: #252f38;
	color: #fff;
	font-size: 2em;  
	overflow: hidden;
	padding: 0;
	/*width: 310px;*/
	width: 11.9em;
}

#home .banner .slide2 > div > p {
	color: #fff;
	font-size: .5em;
	font-style: normal;
	height: 7em;
	padding: 1em;
	text-transform: none;
	white-space: normal;
}

#home .banner .slide2 > div > h2 {
	background-color: #192026;
	font-size: 1em;
	height: 2em;
	line-height: 2em;
	margin: 0;
	width: 11.9em;
}

#home .banner .slide2 > div > h2.invert {
	background-color: #1f8846;
	color: #fff;
}

#home .banner .slide2 button {
	margin: 0.7em 25%;
	width: 50%; 
	height: 3em;
	font-size: 0.7em;
	padding: 0;
}


#home .banner .slide3 h2 {
	background: #171e24;
	font-size: 2.7em;
	margin: 0;
	width: 12em;
}

#home .banner .slide3 > div > p {
	background-color: #171e24;
	color: #fff;
	font-size: 1.3em;
	font-style: normal;
	font-weight: normal;
	height: 10em;
	margin-top: 5.8em;
	padding: 1em;
	text-transform: none;
	white-space: normal;
	width: 24.95em;
}

#home .banner .slide3 a {
	color: white;
	font-size: 2.3em;  
	height: 2.3em;
	line-height: 2.3em;
	margin-top: 8.8em;
	text-decoration: none;
	width: 14.1em;
}



#home #intro {
	background: url("../img/back-triangle.png");
	text-align: center;
}


#home .new-classes > div {
	margin-bottom: 40px;
}

#home .new-classes .new-class {
	background: #252f38;
	min-height: 270px; 
	position: relative; 
	text-align: center;
}

#home .new-classes .new-class .class-title {
	background: #202a32;
	bottom: 0;
	cursor: default;
	display: block;  
	margin: 0;
	padding: 0.8em 0;
	position: absolute;    
	width: 100%;
}

#home .new-classes .new-class .class-title a {
	display: block;
	height: 81px;
	margin: -50px auto 0;
	width: 81px;
}

#home .new-classes .new-class .class-title h3{
	color: #849bae;
	margin: 0;
	text-shadow: 0 1px #111619;
	text-transform: uppercase;
}

#home .new-classes .new-class .class-title p {
	color: white; 
}

#home .new-classes .new-class .class-title .occult {  
	display: none;
}

#home .nav-tabs li i {
    display: block;
    float: left;
    height: 34px;
    margin: 13px 13px 13px -15px;
    width: 34px;
    -webkit-margin-before: 13px;
}

.gym-icon.icon {
	margin: 0px 10px 13px -10px !important;
}

.gym-icon.icon  {

}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    width: 70px;
}

#home .nav-tabs li .gym-icon.outside { background-position: 1px 0; }
#home .nav-tabs li.active .gym-icon.outside { background-position: -70px 0; }
#home .nav-tabs li:hover .gym-icon.outside { background-position: -34px 0; }



#home .nav-tabs li .number2 .gym-icon { background-position: 1px -60px; }
#home .nav-tabs li.active .gym-icon.video { background-position: -70px -60px; }
#home .nav-tabs li:hover .gym-icon.video { background-position: -34px -60px; }

#home .nav-tabs li .gym-icon.sports { background-position: 1px -115px; }
#home .nav-tabs li.active .gym-icon.sports { background-position: -70px -115px; }
#home .nav-tabs li:hover .gym-icon.sports { background-position: -34px -115px; }

#home .nav-tabs li .gym-icon.comunity { background-position: 1px -175px; }
#home .nav-tabs li.active .gym-icon.comunity { background-position: -70px -175px; }
#home .nav-tabs li:hover .gym-icon.comunity { background-position: -34px -175px; }

#home .nav-tabs li .gym-icon.footbal { background-position: 1px -230px; }
#home .nav-tabs li.active .gym-icon.footbal { background-position: -70px -230px; }
#home .nav-tabs li:hover .gym-icon.footbal { background-position: -34px -230px; }



/******************************** Trainers *********************************/

#trainers #suscribe {
	color: #fff;
	padding: 3em 0;
}

#trainers #suscribe h2 {
	color: #fff;
}

#trainers #suscribe .big-button {
	border-color: #fff;
	font-size: 1.3em;
	margin: 2.5em 25% 0; 
	padding: 2em 1.8em;
}

#trainers .magic-grid .content .element .link {

}


/***************************** Single Trainer ******************************/

#single-trainer h2 {
	margin-top: 0;
}

#single-trainer .trainer-photo h3 {
	background-color: #202a32;
	color: #849bae;
	line-height: 62px;
	margin: 0;
	text-align: center;
	text-shadow: 0 1px #111619;
	text-transform: uppercase;
}

#single-trainer .class-experience p,
#single-trainer .class-experience h3 {
	text-align: center;
}

#single-trainer .chart {
	margin: 0 auto;
	font-size: 1.8em;
	font-style: italic;
	font-weight: bold;
}



/********************************** News ***********************************/
#news .post p,
#news .post a,
#news .post h4 {
	margin: 0 20px;
}

#news .post a.readmore {
	line-height: 3em;
	vertical-align: middle;
}

#news .post a.readmore:hover {
	color: #849bae;
	text-decoration: none;
}

#news .post a.readmore i {
	font-size: 1.2em;
	padding: 0 0 0 3px;
}

#news .post footer {
	background-color: #f0f0f0;
	background: none;
	color: #5d5d5d;
	font-size: 10px;
	height: 45px;
	line-height: 45px;
	margin: 20px 0 0 0;
	vertical-align: middle;
}
#news .post footer span {
	display: inline-block;
	margin: 0 15px;
}
#news .post footer span i {
	color: #a7a7a7;
	font-size: 1.8em;
	padding-right: 5px;
}

#news .post:first-child {
	width: 100%;
}

#news .post:first-child header h3 {
	width: 100%;
	margin: 0px;
}
#news .post:first-child header img {
	height: 90%;
}



/****************************** Single News ********************************/

#single-news .post {
	margin: 0;
}

#single-news .post header { 
	height: auto; 
}

#single-news .post { 
	background: none;
}

#single-news .post h4 { 
	margin: 20px 0;
}

#single-news .post p { 
	margin: 0 0 30px 0;
}

#single-news .post .content-new  { 
	margin: 0 0 0 20px;
	width: 550px;
}


#single-news .post footer { 
	background: none;
	border-top: 4px solid #dde4e4;
	color: #5d5d5d;
	font-size: 13px;
	padding-top: 20px;
}

#single-news .post footer img {
	border: 1px solid #dde4e4;
	float: left;
	height: 100px;
	text-align: center;
	width: 100px;
}

#single-news .post footer h4 { 
	margin: 5px 0;
}

#single-news .post footer p,
#single-news .post footer h4 {
	margin-left: 120px; 
}


/* Sidebar ------------------------------------------------*/


content dt {
    font-weight: bold;
    line-height: 1.71429;
}

#sidebar {
    margin-top: 30px;
}

#sidebar h2 {
    display: block;
    margin: 0 0 30px;
	padding: 0px;
	font-size: 23.4px;
	padding-bottom: 13px;
}

#sidebar ul {
    list-style: none outside none;
    margin: 0 0 -5px;
}
#sidebar ul li {
    padding-left: 20px;
}
#sidebar ul li a {
    color: #252F38;
    font-size: 13px;
	line-height: 20px;
	text-decoration: none;
	font-weight: normal;	
}
#sidebar ul li a:hover {
    color: #212C43;
}
#sidebar .textwidget {
    color: #555555;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
	margin-bottom: 20px;
	margin-top: 10px;
}
#sidebar .tagcloud {
	list-style: none;
	margin: 0;
	display: inline-block;
	margin-bottom: 0.5em;
}
#sidebar .widget_tag_cloud h2 {
	border-bottom: none;
}
#sidebar .tagcloud a {
    background: #849bae;
	border-radius: 2px;
	color: white;
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	font-size: 13px !important;
	font-weight: normal;
}
#sidebar .widget_rss li {
    color: #646A69;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#sidebar .wp-smiley {
    width: auto !important;
}
.rsswidget {
    color: #252F38;
}
.widget_text img {
    height: 100%;
    width: 100% !important;
}
.widget img {
    width: auto;
}
.widget p {
   font-size: 13px;
   line-height: 23px;
   font-weight: normal;
}
.widget strong {
   font-size: 15px;
}
.widget select  {
    font-size: 14px;
	width: 80%;
}
.widget select option  {
    font-size: 13px;
}

.screen-reader-text {
    color: #232323;
    font-weight: 700;
    line-height: 30px;
	margin-bottom: 10px;
	font-size: 23px;
}
#searchform {
    margin: 0;
}
#searchform #searchsubmit{
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    margin-top: 14px;
    padding: 0.4em 1.5em;
    text-transform: uppercase;
	margin-bottom: 25px;
}
.widget_search form input[type="text"]{
    border: 1px solid #E2DED4;
    height: 30px;
    margin-bottom: 0;
    padding-left: 10px;
    width: 100%;
}

#calendar_wrap {
    margin-bottom: -20px;
    margin-left: -1px;
}
#calendar_wrap caption {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}
#calendar_wrap thead th {
    font-size: 10pt;
    font-weight: normal;
	text-align: center;
}
#calendar_wrap td {
    color: #555555;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 8px 7px;
    text-align: center;
}
#calendar_wrap #today a {
    color: #fff;
    font-size: 10pt;
    font-weight: normal;
}
#calendar_wrap a {
    color: #555555;
}
#prev {
    display: none;
}
.search-results .span3 {
    float: left;
}
.search_res {
    margin-bottom: 20px;
    border-bottom: 1px solid #E5E2E2;
}

#commentform input[type="text"], #commentform  input[type="email"], #commentform  textarea, #commentform  select {
	background-color: transparent;
	border: 1px solid #DDE4E4;
	border-radius: 3px;	
	font-size: 13px;
	line-height: 1.1em;
	margin-bottom: 20px;
	padding: 5px 10px;
	height: 30px;
}
#commentform textarea{
	height: 150px;
}
#commentform input[type="text"], #commentform  input[type="email"] {
	width: 49.17%;
}
#commentform #email {
   margin-left: 10px;
}
#commentform  textarea {
	width: 100%;
}
#commentform.botton{
	height: auto;
	padding: 8px 30px;
	margin-top: -10px;
}



/***************************** Pricing Table *******************************/
#price .membership {
	background-color: #e7e8ec;
	padding: 30px;
	text-transform: uppercase;
}

#price .membership h2 {
	font-size: 2.5em;
	font-weight: 900;
}

#price .membership p {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 1em;
}

#price .membership span {
    background-color: #252F38;
    color: #FFFFFF;
    display: block;
    font-size: 1.5em;
    font-weight: 900;
    margin: 20px 0 0 -45px;
    padding: 0.5em 45px;
    position: relative;
    width: 280px;
}

#price .membership span a {
	color: #fff;
}

#price .membership span a:hover {
	color: #1C9845;
}

#price .membership span:before, #price .membership span:after {
	border-bottom: 25px solid transparent;
	border-top: 25px solid transparent;
	content: " ";
	display: block;
	height: 0;
	position: absolute;
	top:-1px;
	width: 0;
}

#price .membership span:after {
	border-left: 16px solid #252F38;
	right: -15px;
	z-index: 2;
}
 
#price .membership span:before {
	border-left: 16px solid #252F38;
	right: -16px;
	z-index: 1;
}

#price .membership-price .pricing-table {
	border: none;
}

#price .membership-price ul li.title {
	font-weight: bold;
	text-transform: uppercase;
}
#price .membership-price ul.off  li.title {
	background-color: #c4c4c4;
}
#price .membership-price ul li.title .item-price {
	font-size: 2.1em;
	font-weight: 400;
}
#price .membership-price ul li.title .item-price small {
	font-size: 0.6em;
	vertical-align: top;
}

#price .membership-price ul li.title { }

#price .membership-price ul li.features {
	font-size: 1.05em;
}

#price .membership-price ul li.features:nth-child(even) { 
	background-color: #f1f1f1; 
}

#price .membership-price ul li.features:nth-child(odd) { 
	background-color: #fcfcfc; 
}

#price .membership-price ul li.button a {
	background-color: #474747;
	padding: 0.51em 1em 0.5em;
}



/******************************** Contact **********************************/
#contact { }

#contact #map {
	height: 525px;
	margin: 0 -15px 0 0;
}

#contact .contact {
	padding: 0;
}

#contact .contact form {
	color: #FFF;
	font-size: 14px;
	font-family: 'Lato',​sans-serif;
	height: 525px;
	padding: 25px 0;
}

#contact .contact form em {
	font-weight: normal;
}

#contact .contact form .form-group {
	margin-left: 25px;
	margin-right: 25px;
}

#contact .contact form .form-control {
	border-radius: 0;
	border: none;
	color: #fff;
}

#contact .contact form button[type="submit"] {
	background: #252f38;
	border-radius: 0;
	border: none;
	bottom: 0;
	color: #fff;
	font-family: 'Lato',​sans-serif;
	font-size: 28.6px;
	font-weight: 900;
	height: 70px;
	position: absolute;
	text-transform: uppercase;
	width: 100%;
}

#contact .contact form button[type="submit"]:hover {
	color: #1c9845;
}

#contact h4 { 
	color: #474747;
	margin: 20px 0;
 }
 
form {
    margin: 0 !important;
}


#result {
    margin-left: 27px;
    float: left;
}



/********************************** Club ***********************************/
#club .gym-club {
	width: 100%;
}



/******************************** 404 error *********************************/
.errorpage{
	text-align: center;
	padding-bottom: 50px;
}	

.errorpage strong {
	display: block;
	font-size: 145px;
	line-height: 100px;
	color: #e3e3e3;
}

.errorpage b {
	display: block;
	font-size: 40px;
	line-height: 40px;
	color: #eee;
	margin: 0;
}

.errorpage i {
	display: block;
	font-size: 18px;
	line-height: 50px;
	margin: 0;
	font-style: normal;
}

.errorpage p {
	margin: 0 0 40px 0;
}


/********************************* Gallery ******************************/
.gallery .col-md-3 {
	margin-bottom: 20px;
}

.gallery .example-image-link{
	display: block;
	background: #252F38;
}

.gallery img {
	background: #252F38;
}

.gallery .example-image-link:hover img{
	opacity: 0.5;

}

/******************************** Go to top *********************************/
.scrollup {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 80px;
	right: 30px;
	display: none;
	background: transparent url("../img/to-top.png") center center no-repeat;
}

.scrollup i {
	color: #fff;
	text-align: center;
	display: block;
	line-height: 48px;
	font-size: 20px;
}

.scrollup:hover { 
	opacity: 0.7;
	text-decoration: none;
}











/* ---------------------------------------------------------------------- */
/*	Version 1200px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 1200px) {
	#classes .classes-club .class-club{
	    height: 252px; 
	    width: 300px;
	}
	.logos { 
		padding: 0 10px;
	}
	.logos li { 
		margin: 0 3px;
		width: auto;
	}
	.logos li img { 
		width: 183px;
	}
	.flickr-feed li a img {
		height: 60px;
		width: 60px;
	}
	.grid .content .element .link {
		width: 300px;
	}
}



/* ---------------------------------------------------------------------- */
/*	Version 1024px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 1024px) {
	header .top-bar ul.social-header {
		padding: 0;
	}

}




/* ---------------------------------------------------------------------- */
/*	Version 990px
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 990px) {
	header .main-menu .nav-collapse .nav > li > a{
		border-radius: 0;
		padding: 1.7em;
	}

	header .main-menu .nav li > a { 
		padding: 0 0.8em; 
	}

	#home .new-classes .new-class {
		margin: 0 0 30px 0;
	}

	.tp-leftarrow.default,
	.tp-rightarrow.default {
		width: 48px;
		height: 48px;
		background-size: 96px 96px;
	}

	.tp-rightarrow.default:hover {
		background-position: 0 -49.5px;
	}

	.tp-leftarrow.default {
		background-position: -48px 0;
	}

	.tp-leftarrow.default:hover {
		background-position: -48px -49.5px;
	}

	.logos {text-align: center;}
	.logos li { float: none; display: inline-block; width: 210px; margin: 10px;}
	.logo a img { height: 60px; }

	#classes .classes-club .class-club{
	    height: 193px; 
	    width: 230px;
	}
	#news .post:first-child header h3 {
		font-size: 14px;
		line-height: 2em;
	}
	#wpgmza_map  {
		float: none!important;
	}
}




/* ---------------------------------------------------------------------- */
/*	Mobile Version 767px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 767px) {

	header .top-bar ul.social-header,
	header .top-bar ul.misc {
 		width: 100%;
 		text-align: center;
	}
	header .top-bar ul.misc li,
	header .top-bar ul.social-header li {
		display: inline-block;
		float: none;
	}
	header .main-menu {
	  position: static;
	}
	.copyright ul, .copyright p {
		float: none!important;
		text-align: center;
	}
	.copyright ul li {
		display: inline-block;
	}
	#classes .classes-club {
		margin: 0 0 0 30px;
	}



header .main-menu .nav li {
	position: relative;
}
header .main-menu .nav li > a {
	height: 48px;
	line-height: 48px;
}
header .navbar-nav li ul {
	position: static;
	text-align: left;
	padding: 0;
	display: block;
	margin: 0 0 0 30px;
	top: 0;
}
header .navbar-nav li ul li {
	list-style: none;
	display: block;
	padding: 0;
	background-color: #252F38;
	margin: 1px 0 0;
}
header .navbar-nav li ul li a {
	margin: 0;
	padding: 0 15px;
	width: 165px;
	line-height: 44px;
	height: 44px;
	display: inline-block;
}
header .main-menu ul li:hover ul {
	position: relative;
}

}

/* ---------------------------------------------------------------------- */
/*	Mobile Version 568px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 568px) {
	header .top-bar ul.misc li {
		width: 100%;
	}
	header .top-bar ul.social-header li a {
		padding: 1.1em 1.6em;
	}
	.filters {
		text-align: center;
	}
	.filters button {
		float: none!important;
		display: inline-block;
		margin-bottom: 10px;
	}

}

/* ---------------------------------------------------------------------- */
/*	Mobile Version 480px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 480px) {
	.navbar-toggle {
		margin-top: 28px;
	}
	.nav-tabs li {
		width: 100%;
	}
}
