@charset "utf-8";


.dropdown:hover > a {
	background: #00bff3;
}

.sub-header .title {
	color: #00bff3;
}

.sub-header .custom-breadcrumb .separator {
	color: #00bff3;
}

header .top-bar ul li.active a,
header .top-bar ul li:hover a {
	background: #00bff3;
	border-right: 1px solid #00bff3;
}

header .main-menu .navbar .navbar-toggle {
	background: #00bff3;
}

header .main-menu .nav li > a:hover,
header .main-menu .nav li.active > a,
header .main-menu .nav li.active > a:hover {  
	background: #00bff3;
}

header .main-menu .navbar .btn-navbar {
	background: #00bff3;
}

.errorpage i {
	color: #00bff3;
}

.pricing-table .title {
	text-shadow: 0 1px #00799a;
}

.pricing-table .button a {
	text-shadow: 0 1px #00799a;
}

header .top-bar ul li.active a i,
header .top-bar ul li:hover a i {
	color: #00799a;
}

header .main-menu .navbar .navbar-toggle .icon-bar {
	background-color: #00799a;
}

header .main-menu .nav li > a:hover,
header .main-menu .nav li.active > a,
header .main-menu .nav li.active > a:hover {  
	text-shadow: 0 0.06em #00799a;
}

header .main-menu .navbar .btn-navbar .icon-bar {
	background-color: #00799a;
}

footer button {
	text-shadow: 0 0.06em #00799a;
}

.accordion-group .accordion-heading {
	background: none repeat scroll 0 0 #00bff3;
}

.accordion-group .accordion-body .accordion-inner h5{
	color: #00bff3;
}

.accordion-group .accordion-body .accordion-inner .accordion-toggle {
	color: #00bff3;
}

.nav-tabs > li > a {
	background: #00bff3;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
	color: #00bff3;
}

.nav-tabs.nav-tabs-sec li > a {
	color: #00bff3;
}

.nav-tabs.nav-tabs-sec > li.active > a,
.nav-tabs.nav-tabs-sec > li.active > a:hover {
	background: #00bff3;
}

.tab-content.nav-tabs-sec {
	background: #00bff3;
}

.tabs-left .nav-tabs > li:hover a {
	color: #00bff3;
}

#searchform #searchsubmit{
    background: none repeat scroll 0 0 #00bff3;
    border-color: #00bff3;
}

#sidebar h2:first-child {
    border-bottom: 1px solid #CDD1D0;
	background: url("../../img/cyan.png") no-repeat scroll 0 35px transparent;
}

#sidebar .tagcloud a:hover {
    background: none repeat scroll 0 0 #00bff3;
}

#calendar_wrap #today {
	background-color: #00bff3;
    color: white;
}


.button-gym {
	background: #00bff3;
	border-color: #00bff3;
}

.button-gym.big-button:hover,
.button-gym.medium-button:hover,
.button-gym.normal-button:hover,
.button-gym.big-button.active,
.button-gym.medium-button.active,
.button-gym.normal-button.active {
	color: #00bff3;
}

.button-gym.view-all:hover { 
	border-color: #00bff3;
	color: #00bff3;
}

.progress .bar {  
	background-color: #00bff3;
}

.cap {
	color: #00bff3;
}

.highlight-green {
	background: #00bff3;
}

.highlight-green-under {
	color: #00bff3;
}

.tags li a:hover,
.tags li.active a {
	background: #00bff3;
}

.custom-icon-list li i {  
	color: #00bff3;
}

.social li a {
	background-color: #00bff3;
	border: 1px solid #00bff3;
}

.social li a:hover,
.social li.active a {
	color: #00bff3;
}

.testimonial-container.sec p {
	border: 2px solid #00bff3;
}

.testimonial-container.sec span.border {  
	border-top: 22px solid #00bff3;
}

.testimonial-container .img-container {
	background: #00bff3;
}

.testimonials-position {
	color: #00bff3;
}

.pagination li a {
	border: 2px solid #00bff3;
}

.pagination li:last-child a,
.pagination li:first-child a{
	color: #00bff3;
}

.pagination li:hover a {
	background-color: #00bff3;
}

.pagination .active a{
	background-color: #00bff3;
    border-color: #00bff3;
}

.pagination .active a:hover{
	background-color: #00bff3;
    border-color: #00bff3;
}

.panel.panel-gym .panel-heading,
.panel.panel-gym .panel-footer {
	background-color: #00bff3;
}

.line .sub-line {
	border: 2px solid #00bff3;
}

.fc-container a {
	color: #00bff3;
}

.logos li img:hover {
	border: 2px solid #00bff3;
}

.pricing-table .title {
	background: #00bff3;
}

.pricing-table .button a {
	background: #00bff3;  
}

.grid.magic-grid .filters button.active { 
	border-color: #00bff3;
	color: #00bff3;
}

.grid.magic-grid .filters button:hover { 
	background-color: #00bff3;
	border-color: #00bff3;
}

.grid.slider-grid .content .element .link {
	background: #00bff3;
}

.grid.slider-grid .content .element .title h6 a {
	color: #00bff3;
}

.grid.slider-grid .content .element .title h4 a:hover {
	color: #00bff3;
}

.container-comments .single-comment header button:hover {
	color: #00bff3;
}

.sub-header .custom-breadcrumb a:hover {
	color: #00bff3;
}

.categories li a:hover { 
	color: #00bff3; 
}

footer button:hover {
	color: #00bff3;
	border-color: #00bff3;
}

footer .misc .about li i {
	color: #00bff3;
}

footer .misc .links li a i {
	color: #00bff3;
}

#trainers #suscribe {
	background-color: #00bff3;
}

#news .post a.readmore {
	color: #00bff3;
}

#contact .contact form {
	background: #00bff3;
}

#contact .contact form button:hover {
	color: #00bff3;
}

footer .misc .links li a:hover {
	color: #b8f0ff;
}

footer .copyright p a {
	color: #b8f0ff;
}

footer .copyright .main-links li a:hover {
	color: #b8f0ff;
}

#home .nav-tabs li .gym-icon {
	background: url("../../img/icons-tabs-cyan.png") no-repeat;
}

.grid .content .element .link a {
	background: #353e45 url("../../img/hover-cyan.png") no-repeat center center;
}

#home .new-classes .new-class .class-title a {
	background: url("../../img/hover-cyan.png") no-repeat;
}

.slider-control {
	background-image: url('../../img/arrows/small-cyan.png');
}

.tp-leftarrow.default,
.tp-rightarrow.default {
	background-image: url("../../img/arrows/big-cyan.png");
}

#contact .contact form .form-control {
	background: #00799a;
}

#contact .contact form .form-control:focus {
	background: #00799a;
}

.flickr-feed li:hover {
	border: 3px solid #00bff3;
}

#price .membership-price ul li.button a:hover {
	background-color: #00bff3;
}

#single-trainer .chart {
	color: #00bff3;
}

header .top-bar .dropdown ul { 
	background-color: #00bff3; 
}

header .top-bar .dropdown ul li { 
	background-color: #00bff3; 
}

header .top-bar .dropdown ul li:last-child { 
	background-color: #00799a; 
}

header .top-bar ul li.active a i,
header .top-bar ul li:hover a i {
	text-shadow: 0 0.06em #b8f0ff;
}

#home .banner .slide1 h2 {
	background: #00bff3;
}

#home .banner .slide1 p {
	color:#00bff3;
}

#home .banner .slide1 a {
	background: #00bff3;
}

#home .banner .slide2 > div > h2 {
	color: #00bff3;
}

#home .banner .slide2 > div > h2.invert {
	background-color: #00bff3;
}

#home .banner .slide3 h2 {
	color: #00bff3;
}

#home .banner .slide3 a {
	background: #00bff3;
}

.commentlist .reply a {
	background: none repeat scroll 0 0 #00bff3;
    border-color: #00bff3;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 0.3em 1.3em;	
}

.commentlist .reply a:hover {
	background: none repeat scroll 0 0 #ffffff;
    color: #00bff3;
}

#commentform .button {
	background: none repeat scroll 0 0 #00bff3;
    border-color: #00bff3;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 0.3em 1.3em;	
}














