@charset "utf-8";



.dropdown:hover > a {
	background: #21b44e;
}

.sub-header .title {
	color: #21b44e;
}

.sub-header .custom-breadcrumb .separator {
	color: #21b44e;
}

header .top-bar ul li.active a,
header .top-bar ul li:hover a {
	background: #21b44e;
	border-right: 1px solid #21b44e;
}

header .main-menu .navbar .navbar-toggle {
	background: #21B44E;
}

header .main-menu .nav li > a:hover,
header .main-menu .nav li.active > a,
header .main-menu .nav li.active > a:hover {  
	background: #21b44e;
}

header .main-menu .navbar .btn-navbar {
	background: #21B44E;
}

.errorpage i {
	color: #21b44e;
}

.pricing-table .title {
	text-shadow: 0 1px #066322;
}

.pricing-table .button a {
	text-shadow: 0 1px #066322;
}

header .top-bar ul li.active a i,
header .top-bar ul li:hover a i {
	color: #066322;
}

header .main-menu .navbar .navbar-toggle .icon-bar {
	background-color: #066322;
}

header .main-menu .nav li > a:hover,
header .main-menu .nav li.active > a,
header .main-menu .nav li.active > a:hover {  
	text-shadow: 0 0.06em #066322;
}

header .main-menu .navbar .btn-navbar .icon-bar {
	background-color: #066322;
}

footer button {
	text-shadow: 0 0.06em #066322;
}

.accordion-group .accordion-heading {
	background: none repeat scroll 0 0 #1C9845;
}

.accordion-group .accordion-body .accordion-inner h5{
	color: #1c9845;
}

.accordion-group .accordion-body .accordion-inner .accordion-toggle {
	color: #1C9845;
}

.nav-tabs > li > a {
	background: #1C9845;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
	color: #1C9845;
}

.nav-tabs.nav-tabs-sec li > a {
	color: #1C9845;
}

.nav-tabs.nav-tabs-sec > li.active > a,
.nav-tabs.nav-tabs-sec > li.active > a:hover {
	background: #1C9845;
}

.tab-content.nav-tabs-sec {
	background: #1C9845;
}

.tabs-left .nav-tabs > li:hover a {
	color: #1c9845;
}
#searchform #searchsubmit{
background: none repeat scroll 0 0 #1C9845;
    border-color: #1C9845;
}

#sidebar h2:first-child {
    border-bottom: 1px solid #CDD1D0;
	background: url("../../img/green.png") no-repeat scroll 0 35px transparent;
}

#sidebar ul li {
	background: url("../../img/tick_green.png") no-repeat scroll 0 15px transparent;
}

#sidebar .tagcloud a:hover {
    background: none repeat scroll 0 0 #1C9845;
}

#calendar_wrap #today {
	background-color: #1C9845;
    color: white;
}

.tabs-left .nav-tabs > li a span{
	color: #1c9845 !important;
	width: 20px;
}

.button-gym {
	background: #1c9845;
	border-color: #1C9845;
}

.button-gym.big-button:hover,
.button-gym.medium-button:hover,
.button-gym.normal-button:hover,
.button-gym.big-button.active,
.button-gym.medium-button.active,
.button-gym.normal-button.active {
	color: #1c9845;
}

.button-gym.view-all:hover { 
	border-color: #1c9845;
	color: #1C9845;
}

.progress .bar {  
	background-color: #1c9845;
}

.cap {
	color: #1c9845;
}

.highlight-green {
	background: #1c9845;
}

.highlight-green-under {
	color: #1c9845;
}

.tags li a:hover,
.tags li.active a {
	background: #1c9845;
}

.custom-icon-list li i {  
	color: #1C9845;
}

.social li a {
	background-color: #1c9845;
	border: 1px solid #1c9845;
}

.social li a:hover,
.social li.active a {
	color: #1c9845;
}

.testimonial-container.sec p {
	border: 2px solid #1c9845;
}

.testimonial-container.sec span.border {  
	border-top: 22px solid #1c9845;
}

.testimonial-container .img-container {
	background: #1c9845;
}

.testimonials-position {
	color: #1c9845;
}

.pagination li a {
	border: 2px solid #1C9845;
}

.pagination li:last-child a,
.pagination li:first-child a{
	color: #1C9845;
}

.pagination li:hover a {
	background-color: #1C9845;
}

.pagination .active a{
	background-color: #1C9845;
    border-color: #1C9845;
}

.pagination .active a:hover{
	background-color: #1C9845;
    border-color: #1C9845;
	
}

.panel.panel-gym .panel-heading,
.panel.panel-gym .panel-footer {
	background-color: #1C9845;
}

.line .sub-line {
	border: 2px solid #1C9845;
}

.fc-container a {
	color: #1c9845;
}

.logos li img:hover {
	border: 2px solid #1c9845;
}

.pricing-table .title {
	background: #1c9845;
}

.pricing-table .button a {
	background: #1c9845;  
}

.grid.magic-grid .filters button.active { 
	border-color: #1c9845;
	color: #1C9845;
}

.grid.magic-grid .filters button:hover { 
	background-color: #1c9845;
	border-color: #1c9845;
}

.grid.slider-grid .content .element .link {
	background: #1c9845;
}

.grid.slider-grid .content .element .title h6 a {
	color: #1C9845;
}

.grid.slider-grid .content .element .title h4 a:hover {
	color: #1C9845;
}

.container-comments .single-comment header button:hover {
	color: #1C9845;
}

.sub-header .custom-breadcrumb a:hover {
	color: #1C9845;
}

.categories li a:hover { 
	color: #1C9845; 
}

footer button:hover {
	color: #1C9845;
	border-color: #1C9845;
}

footer .misc .about li i {
	color: #1C9845;
}

footer .misc .links li a i {
	color: #1C9845;
}

#trainers #suscribe {
	background-color: #1c9845;
}

#news .post a.readmore {
	color: #1C9845;
}

#contact .contact form {
	background: #1C9845;
}

#contact .contact form button:hover {
	color: #1C9845;
}

footer .misc .links li a:hover {
	color: #44ce72;
}

footer .copyright p a {
	color: #44ce72;
}

footer .copyright .main-links li a:hover {
	color: #44ce72;
}

#home .nav-tabs li .gym-icon {
	background: url("../../img/icons-tabs-green.png") no-repeat;
}

.grid .content .element .link a {
	background: #353e45 url("../../img/hover-green.png") no-repeat center center;
}

#home .new-classes .new-class .class-title a {
	background: url("../../img/hover-green.png") no-repeat;
}

.slider-control {
	background-image: url('../../img/arrows/small-green.png');
}

.tp-leftarrow.default,
.tp-rightarrow.default {
	background-image: url("../../img/arrows/big-green.png");
}

#contact .contact form .form-control {
	background: #107833;
}

#contact .contact form .form-control:focus {
	background: #107833;
}

.flickr-feed li:hover {
	border: 3px solid #1C9845;
}

#price .membership-price ul li.button a:hover {
	background-color: #1d9945;
}

#single-trainer .chart {
	color: #1C9845;
}

header .top-bar .dropdown ul { 
	background-color: #1C9845; 
}

header .top-bar .dropdown ul li { 
	background-color: #1C9845; 
}

header .top-bar .dropdown ul li:last-child { 
	background-color: #158539; 
}

header .top-bar ul li.active a i,
header .top-bar ul li:hover a i {
	text-shadow: 0 0.06em #8ce8a8;
}

#home .banner .slide1 h2 {
	background: #1C9845;
}

#home .banner .slide1 p {
	color: #1C9845;
}

#home .banner .slide1 a {
	background: #1C9845;
}

#home .banner .slide2 > div > h2 {
	color: #1C9845;
}

#home .banner .slide2 > div > h2.invert {
	background-color: #1C9845;
}

#home .banner .slide3 h2 {
	color: #21b150;
}

#home .banner .slide3 a {
	background: #1d9945;
}

.commentlist .reply a {
	background: none repeat scroll 0 0 #1C9845;
    border-color: #1C9845;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 0.3em 1.3em;	
}

.commentlist .reply a:hover {
	background: none repeat scroll 0 0 #ffffff;
    color: #1C9845;
}

#commentform .button {
	background: none repeat scroll 0 0 #1C9845;
    border-color: #1C9845;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 0.3em 1.3em;	
}



















