/*
 Theme Name:   Gym for Modig
 Description:  Customized Gym theme for Crossfit Modig
 Author:       Tyler Gerard (LRXD)
 Author URI:   http://www.lrxd.com
 Template:     gym
*/



/* Header font override */
h1, h2, h4, h5, h6, footer h3 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

/* Hide final empty social media icon */
.social li:last-child {
	display: none;
}

/* Hide title box when it is empty */
.sub-header-container .title:empty {
	visibility: hidden;
}

/* Center Carousel content */
.carousel-inner>.item {
	text-align: center;
}

.carousel-inner>.item>div {
	display: inline-block;
	vertical-align: top;
	text-align: left;

	/* IE fix. */
	*display: inline;
	zoom: 1;
}
.carousel-inner>.item>div:first-child {
	margin-left: 0 !important;
}
.carousel-inner>.item>div:last-child {
	margin-right: 0 !important;
}

#slider-trainers .carousel-inner>.item>div {
	width: 250px;
	margin: 0 20px 40px;
}
#slider-trainers .link a {
	height: auto;
	opacity: 1;
	position: relative;
	width: auto;
}
#slider-trainers .carousel-inner>.item>div .title {
	min-height: 100px;
}

/*
#new-classes .carousel-inner>.item>div {
	width: 262px;
	margin: 0 14px;
	padding: 0;
	float: none;
}
*/

/* Hide Breadcrumbs */
.sub-header {
	min-height: 152px;
}
.sub-header .custom-breadcrumb {
	display: none;
}

/*header .top-bar {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	line-height: 10px;
}*/


header .top-bar ul li a i {
	color: gray;
}

footer .row.misc > div:nth-child(2) {
	display: none;
}

body.page-id-323 section#trainers article:nth-last-child(-n+2) {
	display: none;
}

.article-container#suscribe .row {
	text-align: center;
}
.article-container#suscribe .row > div {
	display: inline-block;
	width: auto;
	float: none;
	text-align: left;
}
.article-container#suscribe .row > div:last-child {
	vertical-align: top;
}

.article-container#suscribe .row > div button {
	width: 182px;
	margin: 0 !important;
}

/*header .main-menu{
	margin-top: 48px;
}*/

header .main-menu .navbar .sub-menu a {
	line-height: 1.4 !important;
	padding: 10px 1.7em;
}

header .top-bar {
	background-color: #1e221c;
	border-bottom: 2px solid #2e342b;
}
header .main-menu {
	border-top: none;
	background-color: #191c17;
}
header .main-menu .main-menu-line {
	border-bottom: none;
}

footer {
	background-image: none;
	background-color: #191c17;
}
footer .copyright {
	background-color: #1e221c;
	border-top: 0;
}
footer h3 {
	font-weight: 300;
}

body.home section#home article:nth-last-child(-n+2) {
	display: none;
}

.useful-links li {
	padding: 12px 0;
	border-bottom: 1px solid gray;
	font-size: 14px;
	font-weight: 300;
}
.useful-links li:before {
	display: inline-block;
	content: ">";
	margin-right: 6px;
	color: #f3d03e;
	font-size: 18px;
}
.useful-links li a {
	color: white;
}
.useful-links li a:hover {
	color: #eeeeee;
}

.tp-leftarrow.default {
	background-position: -64px -66px;
}
.tp-rightarrow.default {
	background-position: 0 -66px;
}


#home #intro {
	background-image: none;
	background-color: #f3d03e;
}
#home #intro .button-gym {
	background-color: black;
	color: white;
	border: 0;
}

.magic-grid .filters {
	display: none;
}

#single-trainer .trainer-photo h3 {
	line-height: 1.4;
}

#classes .isotope {
	height: auto !important;
}
#classes .isotope:after {
	display: block;
	content: "";
	clear: both;
	float: none;
}
#classes .isotope .isotope-item {
	display: inline-block !important;
	position: relative !important;
	transform: none !important;
	float: left;
}


.lb-outerContainer {
	*zoom: initial;
}
.lb-dataContainer {
	*zoom: initial;
}

.tg-banner {
	height: 152px;
	overflow: hidden;
}


header .main-menu .current-menu-item a {
	background: none repeat scroll 0 0 #e0b900 !important;
	text-shadow: 0 0.06em #937900 !important;
}

.single_page .rev_slider ul {
	margin: 0;
}


.tg-testimonial-container {
	text-align: center !important;
	min-height: 200px;
	width: 29%;
	margin: 0 2%;
}

#testimonials .testimonials-position {
	display: none;
}

.tg-testimonial-container .img-container {
	float: none;
	display: inline-block;
	position: absolute;
	left: 24px;
}

.tg-testimonial-container p {
	padding-left: 0px !important;
	min-height: 150px;
	position: relative;
}

.entry-content img {
	float:left;
	margin: 10px;
 }

/*.post .content img {
	height: auto;
	width: 100%;
	float:left;
	margin:10px;
}*/

#wodifyLeadForm label {
	display: block;
}
#wodifyLeadForm input[type="text"],
#wodifyLeadForm input[type="email"],
#wodifyLeadForm textarea,
#wodifyLeadForm select {
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#wodifyLeadForm .input-row {
	position: relative;
	margin-bottom: 10px;
}
#wodifyLeadForm .input-row.checkbox {
	padding-left: 15px;
}
#wodifyLeadForm .input-row.checkbox input {
	left: 0;
	margin: 0;
	position: absolute;
	top: 4px;
}


#wodifyLeadForm .input-row.dropdown select {
	background: transparent;
	padding: 8px 5px;
	font-size: 13px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
}
 
#wodifyLeadForm .input-row.dropdown .input-container {
	overflow: hidden;
	background: url(https://dl.dropbox.com/u/122540013/img/arrow.png) no-repeat right #fff;
	border: 1px solid rgba(182,182,182,0.8);
}
 
#wodifyLeadForm .input-row.dropdown select {
	padding-right: 0;
	vertical-align: top!important;
	text-align: left;
	height: auto;
	line-height: 1em;
}

#wodifyLeadForm input::-webkit-input-placeholder {
	color: #bbb;
}
#wodifyLeadForm input:-moz-placeholder {
	color: #bbb;
}
#wodifyLeadForm input:-ms-input-placeholder {
   color: #bbb;
}
#wodifyLeadForm .unselected select {
	color: #bbb;
}

.posts .post {
	padding: 10px;
}
.posts .post > img.wp-post-image {
	float: none;
	height: auto;
	margin: 0;
	width: 100%;
}
.single .post > img.wp-post-image {
	height: 100%;
	width: 100%;
}



.grid .content .element .link img {
	height: auto;
	width: 100%;
}
#classes .grid .row {
	overflow: hidden;
}
#classes .grid .row.content {
	margin-left: -3%;
	width: 103%;
}
#classes .grid .content .element {
	border-bottom: 2px #ccc solid;
	float: left;
	margin: 0 0 3% 3%;
	width: 30%;
}
#classes .grid .content .element .link {
	position: relative;
	width: auto;
}
#classes .grid .content .element .link a {
	height: 100%;
	width: 100%;
}
#classes .grid .content .element .title {
	text-align: center;
}
#classes .grid .content .element .title p {
	line-height: 1.2;
}
#classes .grid .content .element .title h4 {
	margin: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}
/*.post img {
	float: none;
	height: auto;
}*/
/*.single .content img,
.entry-content img {
	height: initial !important;
	width: initial !important;
}*/

#slider-trainers {
	margin-left: -3%;
	width: 103%;
}
#slider-trainers .element {
	display: block;
	float: left;
	margin: 0 0 3% 3% !important;
	width: 30% !important;
}
#slider-trainers .element .link,
#slider-trainers .element .title {
	width: auto !important;
}
#slider-trainers .element .title .testimonials-name {
	padding-bottom: 5px;
}

#slider-trainers img {
	height: auto;
	width: 100%;
}



figure img {
	height: auto;
	width: 100%;
}
.post header h3 {
	height: auto;
	line-height: 1;
	padding-bottom: 17px;
	padding-top: 16px;

}
#news .post:first-child header h3 {
	font-size: 16px;
	line-height: 1;
}
.top-bar {
	line-height: 1.2;
}
header .top-bar ul li > a {
	height: auto;
}
.top-bar .free-class {
	background-color: #f2cf4d;
	text-transform: uppercase;
}
.top-bar .row {
	text-align: right;
}
.top-bar .row ul {
	display: inline-block;
}

.row img {
	height: auto;
	width: 100%;
}
.wp-caption {}
.wp-caption-text{}
.sticky {}
.gallery-caption {}
.bypostauthor { font-family: 'Lato',sans-serif;}
.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}
.alignright {
	float: right;
	margin: 10px 0 0 10px;

}
.aligncenter {}